body{margin:0;padding:0;box-sizing: border-box}
.login_header{ padding:10px 0; height:70px; line-height:70px; background:url(../images/logo_bg.png) no-repeat 250px center;}
.login_header a,.login_header a img{ width:224px; height:70px; display:block;}
.login_header a{ float:left; margin-right:10px;}
.logib_line{ background:url(../images/line.png) no-repeat center center; height:20px;}

.login_left,.login_right{ padding:0 10px;}
.login_right{ padding-left:20px;}
.login_left{ width:720px;margin-bottom:240px;}
.login_right{ width:200px; height:100px; border-left:1px dashed #ddd; }
.login_right p{font-size:14px; height:24px; line-height:24px;}
.login_btn,.btn_reg{ margin-top:15px;  display:inline-block;width:94px; height:33px; border:0; cursor:pointer; }
.btn_reg{ background:url(../images/reg_btn.png) no-repeat 0 0;}
.login_btn{ background:url(../images/login_btn.png) no-repeat 0 0;}

.registerform .inputxt{ width:238px; height:15px; line-height:15px; padding:5px; border:1px solid #ccc;}
.login_zh{ color:#0e5fbc;}
.login_zh:hover{ text-decoration:underline;}
.login_dl{ display:inline-block; width:60px; height:30px; color:#fff; background:#c50512;  font-size:14px; font-weight:bold; border:0; cursor:pointer;}
.login_dl:hover{ color:#fff; background:#d23c46;}
.Validform_error{background-color: #ffe7e7;}
.Validform_checktip{color: #999;font-size: 12px; height: 20px;line-height: 20px;overflow: hidden; margin-left:10px;}
.Validform_wrong{color: red;padding-left: 20px;white-space: nowrap; background:url(../images/error.png) no-repeat 0 center;}
.Validform_right{color: #71b83d;padding-left: 20px; background:url(../images/right.png) no-repeat 0 center;}
#log_ul1{margin-left:45px;}
#call_code input[type="text"]{width:400px;height:40px;}
#call_code span{position:absolute;}
/*µÇÂ¼*/
#login_header li{ float:left; position:relative; margin:0 5px;left:713px;}
#login_header li a{color:#ccc;font-size:14px;}
#login_header li a:hover{ color:#ff0000;}
#user_pwd input[type="password"]{width:400px;height:40px;}
#user_pwd span{position:absolute;}
#user_code input[type="text"]{width:300px;height:40px;}
#user_code span{position:absolute;margin-left: 100px;}
#user_code img{width:94px;height:50px;}
input.input_butt{display:inline-block; border:0}
#ul11 a{color:#000000;}
#ul11 a:hover{color:#e1640d;}
#warp{width:100%;height:800px;background:#EEEEF0;}
#login_content{width:100%;min-width: 1440px;max-width:1660px;font-size:12px;font-family:"Microsoft YaHei","simsun","Helvetica Neue","Arial", "Helvetica", "sans-serif";position: relative;min-height: 619px}
.log_text li{margin:5px 0;}
.log_ucon{line-height:25px;margin-left:50px;}
.login_mid{width:600px; z-index:999;position: absolute;top: 70px;right: 470px;background: #ffffff}
.login_mid ul{padding:10px 0px;}
.bglogo img{display: block;min-height: 619px}

@media screen and (max-width: 1440px){
    .login_mid{
        right: 400px;
    }
}
/*×¢²á*/
#signup_content{width:100%;max-width:1660px;min-width: 1440px;font-size:12px;font-family:"Microsoft YaHei","simsun","Helvetica Neue","Arial", "Helvetica", "sans-serif";position:relative;min-height: 820px}
.bglogos img{min-height: 820px;display:block}
.singup_call{margin-left:50px;line-height:20px;}
#call_inp input[type="text"]{width:400px;height:40px;}
.call_lbl span{position:absolute;}

.signup_pwd{margin-left:50px;line-height:20px;}
.pwd_lbl span{position:absolute;}
#pwd_inp input[type="password"]{width:400px;height:40px;}

.signup_copwd{margin-left:50px;line-height:20px;}
.signup_copwd span{position:absolute;}
#copwd_inp input[type="password"]{width:400px;height:40px;}

.singup_smscode{margin-left:50px;line-height:20px;}
.singup_smscode span{position:absolute;margin-left: 102px;}
.singup_smscode li{padding:1px 0;}
#sms_inp input[type="text"]{width:300px;height:40px;}
#sms_inp img{width:94px;height:50px;}

.signup_yzcode{margin-left:50px;line-height:20px;}
.signup_yzcode span{position:absolute;margin-left: 102px;}
.signup_yzcode li{padding:1px 0;}
#yzcode_inp input[type="text"]{width:300px;height:40px;}

.signup_mid{background-color:#FFF;width:610px; z-index:999;position: absolute;top: 70px;right: 470px;}
.signup_mid ul{padding:5px 0px;}
@media screen and (max-width: 1440px){
    .signup_mid{
        right: 400px;
    }
}
.reg_header{ background:url(../images/reg_bg.png) no-repeat 250px center;}
.reg_btn{ width:178px;}
.yzmcode img{color:#FFFFFF;}
.registerform .need{ color: #b20202;width: 10px;}
#Validform_msg{ display:none;}

.signup_agree{font-size:12px;line-height:25px;margin-top:5px;}
.signup_agree hr{height:1px;margin-left:5px;width:512px;border:none;border-top:1px solid #eeeef0}
.signup_agree a{color:#000000;}
.signup_agree a:hover{color:#e1640d;cursor:pointer;}
.registerform #signup_ul1{margin-left:45px;}
input.login_butt{display:inline-block;border:0}

/*È¡»ØÃÜÂë*/
#forger_conent{width:100%;background:#EEEEF0;max-width:1660px;min-width: 1440px;position:relative;min-height: 619px}
.login_retrieve{ padding:5px 10px; border:1px solid #ddd; border-radius:5px;}
.login_retrieve:hover{ background:#f2f2f2; color:#4c4c4c;}
.get_pwd{position: absolute;top: 70px;background: #ffffff;right: 470px; padding:10px 0;width:600px; z-index:999;font-size:12px;font-family:"Microsoft YaHei","simsun","Helvetica Neue","Arial", "Helvetica", "sans-serif";}
@media screen and (max-width: 1440px){
    .get_pwd{
        right: 400px;
    }
}
.get_all{margin-top:40px;}
#ul3{margin:30px 0;}
#ul3{line-height:45px;}
#ul3 label{margin-left:120px;}
#ul5{margin-top:10px; margin-left:50px;}
.forget_yzcode span{position:absolute;margin-left:110px;}
.elul2 span{position:absolute;margin-left:110px;}
#print_ucon .elul1 input[type="text"]{width:400px;height:40px;margin-left:-75px;}
.elul1 span{position:absolute;}
#print_ucon .elul2 input[type="text"]{width:300px; height:40px;margin-left:-120px;}
#print_ucon .label1{margin-left:-75px;}
#print_ucon .label2{margin-left:-120px;}
#print_ucon{margin-left:40px;margin-top:-20px;}
#print_ucon{line-height:25px}
#print_ucon .elul2 {margin-left:45px;}
.zhankeng{height: 50px;background: #EEEEF0 none repeat scroll 0% 0%;width: 100%;
    max-width:1660px;min-width: 1024px;}
.xjt{position:absolute; top: 519px;left: 788px;}
.forget_yzcode input[type="text"]{width:300px;height:40px;margin-left:-75px;}
