.protaolun-size {font-size:12px; font-family:"Microsoft YaHei","simsun","Helvetica Neue","Arial", "Helvetica", "sans-serif"; }
.pro-content{background:#EEEEF0;border:1px solid #EEEEF0;min-width:1440px;max-width: 1660px;height:100%;min-height:700px;overflow: hidden}
.pro-details{width:800px;background-color:#FFF;float:left;margin-left:160px;margin-top:30px;margin-bottom:30px;}
.pro-people{width:450px;background-color:#FFF;float:left;margin-left:20px;margin-top:30px;}
.proleft_detail{padding:15px;}
.proleft_detail tr td{padding: 10px 0}
.proleft_detail tr{border-bottom: 1px solid #a8a8a8;}
.pro-title{margin-left:-20px;margin-top:15px;float: left}
.pro-title>.mongjiangimg{position:absolute;top:135px;}
.pro-title>.zczhong{margin-left:45px}
.pro-status{float: left;padding:12px 0 0 20px}
.pro-writing{margin-left:-20px;margin-top:20px;}
/*input.btn-focus{border:0px solid #FFFFFF;background:url("/static/images/focus.jpg") no-repeat;width:80px;height:28px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:90px; margin-top:10px;}*/
 input[type='checkbox'] + label:before{
    background: url('/static/images/focus.jpg');
    content:' ';
    height: 28px;
    width: 80px;
    position: absolute;
    left:0;
}
 input[type='checkbox']{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    position:absolute;
    left:4px;
    top:3px;
}
 input[type='checkbox']:checked + label:before{
    background: url('/static/images/refocus.jpg');
}

.checkbox{
    min-height:24px;
    position: relative;
    float: right;
    top: 10px;
    margin-right: 95px;
}
input.btn-remind{border:0 solid #FFFFFF;background:url("/static/images/remind.png") no-repeat;width:80px;height:28px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:40px; margin-top:6px;}
input.btn-lingtou{border:0 solid #FFFFFF; background:url("/static/images/order.jpg") no-repeat;width:80px;height:28px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:90px; margin-top:20px;}
input.btn-gentou{border:1px solid #4a3c70; background:#4a3c70;width:77px; color:#FFFFFF;height:25px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:80px; margin-top:5px;}
input.reply{border:1px solid #4a3c70; background:#4a3c70;width:85px; color:#FFFFFF;height:30px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:660px; margin-top:5px;}
.pro-list>li{margin:20px 10px;}
.pro-list>li>a{text-decoration:none;color:#000;}
.pro-list>li>a:link,a:visited{ border-bottom-style:solid; border-color:transparent; border-width:2px;}
.pro-list>li>a:hover{font-weight:bold;cursor:pointer;border-color:#e1604d;}
.div-right{width:790px;margin-left:-35px;height: 100%}
.display{display:none;}
.fr{float:right}
.mt10{ margin-top:70px;}
.bbs_hd h3{font-size:12px;font-style:normal;margin:0}
.reply_publish .bbs_bd textarea{width:90%;height:100px;padding:5px;border:1px solid #ddd;margin-left: 30px}
.bbs_bd{padding:10px;}
.bbs_box{border-radius:5px; -moz-border-radius: 5px;-webkit-border-radius:5px;padding:10px; background:#fff;}
.bbs_hd{padding:0 40px;}
.bbs_backtop{background:url(../images/back_top.png) no-repeat right center; padding-right:20px; color:#4c4c4c; text-decoration:none;font-size:12px; font-family:"Microsoft YaHei","simsun","Helvetica Neue","Arial", "Helvetica", "sans-serif";}
.bbs_backtop:hover{color: #FF0000}
.yzm input[type='text']{width:110px; height:30px;}
.qita-size{display: inline-block}
.qita-size table{float:left;padding:0 0 0 65px;font-size: 14px;width: 260px;}
.protaolun-size{width:780px;background-color:white;margin-left:-5px;overflow:hidden;height:100%}
.talk_list{padding:10px 40px;}
.talk_list dd{margin-left:20px;width:400px;}
.talk_list dt,.talk_list dt a,.talk_list dt a img{width:48px;height:48px;display:inline-block}
.talk_list dd a{color:#4c4c4c}
.talk_list dd,.talk_list dt{float:left}
.talk_list{overflow:hidden;margin:0;}
.talk_list dd p{line-height:24px;margin:0}
.talk_list dd p a:hover{color: #FF0000;cursor:pointer}
/*∆¿¬€Õº∆¨*/
.emoji{width:25px;height: 25px;}
.bbs_emoji img{padding-top: 5px;}
img { border:0;}

.talk_con{font-size:14px;line-height:24px;color:#000}
#triangle-down {width:0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 10px solid black;margin-top:-35px;margin-left:240px;}

.remind-text{text-align: center}
.remind-text a{color: #000000}
.remind-text a:hover{
    background: #b94a48;
}
.detail-percent em{display:block;height:12px;}