.changephone,.pwdcter{
    padding-top: 20px;
}
.changephone li{
    padding-bottom:10px;
}
.pwdcter li{
    padding-bottom:10px;
}
.newphone-text input[type="text"]{
    width:200px; height:30px;
}
.code-text input[type="text"]{
    width:200px; height:30px;
    margin-left:15px;
}
.code-text img{
    width: 75px;
    height: 33px;
    margin-left: 5px
}
.code-text span{position:absolute;margin-left: 85px}
.message-text input[type="text"]{
    width:200px; height:30px;
}
.message-text input[type="button"]{
    width: 75px;
    height: 33px;
    border:1px solid #4a3c70;background:#4a3c70;color:#FFFFFF;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
}
.newpwd-text input[type="password"]{width:200px; height:30px;}
.verify-text input[type="password"]{width:200px; height:30px;}
.save-btn input[type="button"]{border:1px solid #4a3c70;background:#4a3c70;width:120px;color:#FFFFFF;height:40px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:72px;}
.message-text span{position:absolute;margin-left: 118px}
.aggree-text input[type="button"]{border:1px solid #4a3c70;background:#4a3c70;width:120px;color:#FFFFFF;height:40px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:72px;}
.Validform_error{background-color: #ffe7e7;border: 1px solid #ccc;}
.Validform_checktip{color: #999;font-size: 12px; height: 20px;line-height: 20px;}
.Validform_wrong{color: red;padding-left: 20px;background:url(../images/error.png) no-repeat 0 center;}
.Validform_right{color: #71b83d;padding-left: 20px; background:url(../images/right.png) no-repeat 0 center;}
#Validform_msg{ display:none;}