.conext{width:100%height:100%;background:#EEEEF0;min-width:1440px;max-width:1660px;overflow:hidden;border:1px solid #EEEEF0;}
.div11 {font-family:"新宋体";height:100%;width:964px;background-color:#FFFFFF;margin:50px 0 90px 250px;}
.div_left{width:260px;height:100%;float:left;background-color:#FFFFFF;margin-top:25px;margin-left:10px;}
.div_left  a{margin-left:18px;text-decoration:none;}
.div_right{margin-left:260px;margin-top:35px;width:704px;height:400px;background-color:#FFFFFF;}
.biaoti{font-size:20px;font-weight:bold;}
.border1{width:340px;height:55px;}
.entr{width:108px;height:40px;background-color:#715C83;
      border:1px solid #715C83;color:#FFFFFF;text-align:center;-moz-border-radius:3px;border-radius:3px;}
.online{width:675px;height:1px;background-color:#EEEEF0;margin-top:10px;}
.donline1{border:1px solid #666666;width:220px;height:60px;font-size:14px;margin-left:15px}
.lmoney{margin-top:2px;padding:4px 0}
.smoney{margin-top:2px;padding:4px 0}