<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/safecenter.css" />
    	    <script type="text/javascript" src="/static/js/timeplus.js"></script>
    <script src="/static/js/yz.js" type="text/javascript"></script>
<title>安全中心</title>
<!--安全中心-->
    <form id="formPH" name="formPW" class="modifyPWform" action="" method="post" >
    <ul class="changephone">
        <li class="newphone-text">
            <label>新手机号</label>
            <label>{{form.username}}</label>
        </li>
        <li class="code-text">
            <label style="float: left;margin-top:8px;">验证码:</label>
            <label style="float: left">{{ form.vcode }}</label>
            <label style="float: left"><img onclick="this.setAttribute('src',{% url 'verifycode' %} + '?nocache='+Math.random());"
                                       src="{% url 'verifycode' %}"/></label>
        </li>
        <li style="clear:both">
        </li>
        <li class="message-text">
            <label>短信验证</label>
            <label>{{form.smscode}}</label>
            <label>
                <input id="rulesubmit" style="color:#FFFFFF; background-color:#4a3c70;border:1px solid #4a3c70; border-radius:10px;-webkit-border-radius:3px;z-index:1;width:105px;height:36px;" value="发送验证码" type="button">
            </label>
        </li>
        <li class="aggree-text">
            <label>

                <input id="submit_modify" type="button" value=" " style="background: url('/static/images/verifyupdate.png') no-repeat;border: 0 none;width:105px;height: 35px;"/></label>
        </li>
    </ul>
        </form>

<!---安全中心 end-->

<script type="text/javascript">
    var count =0;
    $("#submit_modify").click(function(){
          if(count <1){
              var username = $("input[name=username]").val();
              var vcode = $("input[name=vcode]").val();
              var smscode = $("input[name=smscode]").val();
              if($('#id_username').hasClass('inputxt Validform_error') || !username ){
                alert("请输入手机号！");
              }
              else if($('#id_vcode').hasClass('inputxt Validform_error') || !vcode){
                alert("请输入正确的验证码！");
              }
              else if($('#id_smscode').hasClass('Validform_checktip Validform_wrong') || !smscode){
                alert("请输入正确的短信验证码！");
              }
              else{
                 var formdata = $("#formPH").serialize();
                 $.post("{% url 'change_phone_number' %}",
                         formdata,
                         function(data){$('#safe_center').html(data.content_html);}
                         );
                 count = count + 1;
              }
          }
          else{location.reload()};

    });
 $(function(){
    var demo = $(".modifyPWform").Validform({
        tiptype: 3,
        label: ".label",
        showAllError: true,
        datatype: {
            "zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
        },
        ajaxPost: false,
        callback:function(data){
            str = "success";
        }
    });

    demo.tipmsg.w["zh1-6"] = "请输入1到6个字符！";

    demo.addRule([
        {
            ele: "#id_username",
            datatype: "m"
        },
        {
            ele: "#id_smscode",
            datatype: "n4"
        },
        {
            ele: "#id_vcode",
            datatype: "n4"
        }
    ]);

});
</script>

</html>
