{% load staticfiles %}
{% load settingsvalue %}
{% load url from future %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="baidu-tc-verification" content="fcb12b2cc7f02674c9f8ad1facbdc736" />
	<link href="{% static 'css/footer.css' %}" rel="stylesheet"/>

	<!--百度统计-->
<script>
   var _hmt = _hmt || [];
   (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?afdeb5d28fdd744142dbe81b4203efac";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
   })();
</script>

	<meta name="baidu-tc-verification" content="fcb12b2cc7f02674c9f8ad1facbdc736" />
</head>

<body>
<div id="footer">
	<div class="footer_content">
		<div class="footer_main mauto clearfix">
			<div class="footer_box f1">
				<h3>合作伙伴</h3>
				<div style="border-top:1px solid #e1604d;height:1px;width:220px;margin:10px 0 10px 7%"></div>
				<dl>
					<dd>
						<a target="_blank" href="http://www.wabei.cn/">挖贝网</a>
						<a href="http://www.dyly.com/" target="_blank" style="font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;第一路演</a>
					</dd>
					<dd>
						<a href="http://www.sanban18.com/" target="_blank">新三板在线</a>
						<a href="http://www.xsbdzw.com/" style="margin-left:-15px" target="_blank">新三板定增网</a>
					</dd>
					<dd>
						<a href="http://www.zhongguocaifu.com.cn/" target="_blank">中国财富网</a>
						<a href="http://www.neeq.cc/" style="margin-left:-15px" target="_blank">Neeq</a>
					</dd>
				</dl>
			</div>
			<div class="footer_box f1">
				<h3>友情链接</h3>
				<div style="border-top:1px solid #e1604d;height:1px;width:185px;margin:10px 0 10px 7%"></div>
				<dl>
					<dd>
						<a href="http://www.yicai.com/" target="_blank">第一财经</a>
						<a href="http://www.hexun.com/" target="_blank"> 和讯</a>
					</dd>
					<dd>
						<a href="http://if.pedaily.cn/" target="_blank">新金融</a>
						<a href="http://finance.sina.com.cn/" target="_blank" style="font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;新浪财经</a>
					</dd>
					<dd>
						<a href="http://insurance.stockstar.com/" target="_blank">证券之星</a>
						<a href="http://www.zcifc.com/" target="_blank" style="font-family:'Times New Roman'">&nbsp;中申网</a>
					</dd>
				</dl>
			</div>
			<div class="footer_box f1">
				<h3 >联系我们</h3>
				<div style="border-top:1px solid #e1604d;height:1px;width:330px;margin:10px 0 10px 8%"></div>
				<dl style="padding-left: 11%;color:#FFFFFF;">
					<dd>
						咨询热线:400-709-1818
					</dd>
					<dd>
						公司邮箱:service@ddbid.com
					</dd>
					<dd>
						公司地址:上海市沪闵路7866号莲花广场2号楼908室
					</dd>
					<dd>
						<a style="padding: 0" href="http://www.miitbeian.gov.cn/">沪ICP备14053786号-2</a>
					</dd>
				</dl>
			</div>
			<div class="footer_boxImg">
				<dl>
					<dd>
						<img src="/static/images/8cm.jpg" width="100px;" height="100px;" />
					</dd>
					<dd class="dyhImg">
						<label style="color:#FFFFFF;">订阅号</label>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
</body>
</html>
