<style>
  .footer-top .about>div h4 {color: #e1604d;}
  .footer-top  h4 {color: #e1604d;}
  .footer a {color:#FFFFFF;}
  .footer address {color:#FFFFFF;}
  .footer {padding-top:20px;padding-bottom:1px;}
  footer .img-responsive {max-width:60%;}
</style>
<footer class="footer ">
      <div class="container">
        <div class="row footer-top">
            <div class="col-sm-6 ">
             <div class="row">
                  <div class="col-xs-4 col-sm-4">
                    <h4>合作伙伴</h4>
                    <ul class="list-unstyled">
                      <li><a href="http://www.ucloud.cn/" target="_blank">挖贝网</a></li>
                      <li><a href="https://www.upyun.com" target="_blank">新三板在线</a></li>
                      <li><a href="http://www.ucloud.cn/" target="_blank">中国财富网</a></li>
                      <li><a href="https://www.upyun.com" target="_blank">第一路演</a></li>
                      <li><a href="http://www.ucloud.cn/" target="_blank">新三板定增网</a></li>
                      <li><a href="https://www.upyun.com" target="_blank">Neeq</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-4 col-sm-4">
                    <h4>友情链接</h4>
                    <ul class="list-unstyled">
                      <li><a href="/about/">第一财经</a></li>
                      <li><a href="/ad/">新金融</a></li>
                      <li><a href="/links/">证券之星</a></li>
                      <li><a href="/hr/">和讯</a></li>
                      <li><a href="/hr/">新浪财经</a></li>
                      <li><a href="/hr/">中申网</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-4 col-sm-4">
                    <h4>旗下网站</h4>
                    <ul class="list-unstyled">
                      <li><a href="http://www.ddbid.com/" target="_blank">天天搜贷</a></li>
                      <li><a href="http://www.pttjf.com/" target="_blank">葡萄藤众投</a></li>
                    </ul>
                  </div>
              </div>
            </div>

          <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <h4>联系我们</h4>
                    <ul class="list-unstyled">
                      <li><a href="http://pttjf.com" title="葡萄藤众投" target="_blank">咨询热线:400-709-1818</a></li>
                      <li><a href="mailto:admin@bootcss.com">公司邮箱:service@ddbid.com</a></li>
                      <li ><address>公司地址:上海市沪闵路7866号莲花广场2号楼908室</address></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h4>订阅号</h4>
                    <img src="/static/images/8cm.jpg" class="img-responsive">
                </div>
              </div>
          </div>

        </div>
        <div class="row footer-bottom">
          <hr/>
          <ul class="list-inline text-center">
            <li><a href="#" >沪ICP备14053786号-2</a></li>
          </ul>
        </div>
      </div>
</footer>

