{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title></title>
    <link rel="stylesheet" href="/static/css/investor.css"/>
    <link rel="stylesheet" href="/static/css/zcheader.css"/>
    <link rel="stylesheet" href="/static/css/investor_search.css"/>
    <link rel="stylesheet" href="/static/css/readMore.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel.css"/>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>

</head>
<body>
<!--头部-->
{% include "zcheader.html" %}
<!--内容-->
<div id="Icontainer">
    <div class="fixed"><img src="/static/images/sqtzr.png"/></div>
    <div style="width:100%;background:#EEEEF0;">
        <div id="result" class="Cleft5">
        </div>
    </div>
</div>
<div class="side">
    <div id="right_float">
        <div class="down">
            <p class="yidong">
                <a class="erwei" href="####"></a>
                <a class="l_r3 l_rw3" href="####" style="width: 0px;"><img src="/static/images/wxcode.png"></a>
            </p>
            <p class="yidong">
                <a class="callphone" href="####"></a>
                <a class="l_r4 l_rw2" href="####" style="width: 0px;">电话客服:400-709-1818</a>
            </p>
            <p class="yidong">
                <a class="emails" href="####"></a>
                <a class="l_r5 l_rw5" href="####" style="width: 0px;">公司邮箱:service@ddbid.com</a>
            </p>
            <p class="yidong">
                <a class="address" href="####"></a>
                <a class="l_r6 l_rw6" href="####" style="width: 0px;">公司地址:上海市沪闵路7866号莲花广场2号楼908室</a>
            </p>
            <p class="yidong">
                <a class="fanhui" href="#"></a>
                <a class="l_r7 l_rw4" href="#" style="width: 0px;">返回顶部</a>
            </p>
        </div>
    </div>
</div>
{% include "footer.html" %}

</body>
<script type="text/javascript">
    $(document).ready(function () {
        checkparam(1);
    });
    function takepage(n) {
        checkparam(n);
    }

    function checkparam(page) {
        $.post("{% url 'do_search' %}",
                {
                    page: page,
                    keyword: '{{keyword}}',
                    //select: '{{select}}',
                },
                function (data) {
                    $('#result').html(data.content_html);
                }
        );
    }

</script>
<script>
    $(document).ready(function(){
        $('#right_float .yidong').hover(function(){

            $(this).find('.l_rw3').stop().animate({
                'width':'135px'
            },400);
        },function(){
            $(this).find('.l_rw3').stop().animate({
                'width':'0px'
            },400);
        });
    });
    $(document).ready(function(){
        $('#right_float .yidong').hover(function(){
            $(this).find('.l_rw2').stop().animate({
                'width':'170px'
            },400);
        },function(){
            $(this).find('.l_rw2').stop().animate({
                'width':'0px'
            },400);
        });
    });
    $(document).ready(function(){
        $('#right_float .yidong').hover(function(){
            $(this).find('.l_rw4').stop().animate({
                'width':'70px'
            },400);
        },function(){
            $(this).find('.l_rw4').stop().animate({
                'width':'0px'
            },400);
        });
    });
    $(document).ready(function(){
        $('#right_float .yidong').hover(function(){
            $(this).find('.l_rw5').stop().animate({
                'width':'200px'
            },400);
        },function(){
            $(this).find('.l_rw5').stop().animate({
                'width':'0px'
            },400);
        });
    });
    $(document).ready(function(){
        $('#right_float .yidong').hover(function(){
            $(this).find('.l_rw6').stop().animate({
                'width':'250px'
            },400);
        },function(){
            $(this).find('.l_rw6').stop().animate({
                'width':'0px'
            },400);
        });
    });
</script>
</html>

