{% extends 'guide_base.html' %}
{% block navigation %}
{% include 'navigation_userinfo.html' %}
{% endblock %}
{% block content %}
<div class="row" style="margin:0px;padding:0px;">
    <div class="col-sm-12 " >
    <h2 class="center-block" style="margin-top:0px;margin-bottom:0px;">项目管理</h2>
    </div>
</div>
    <hr style="margin-top:10px;margin-bottom:10px;">

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">已投项目</a></li>
    <li role="presentation"><a href="#">关注的项目</a></li>
    <li role="presentation"><a href="#">关注的人</a></li>
</ul>
{% endblock %}