{% extends 'base.html' %}
{% block index %}
<style>
	#project {background-color:#FFFFFF;margin-top:40px;padding:20px;}
	#detail {background-color:#FFFFFF;margin-top:30px;padding-top:30px;padding-bottom:30px;}
	#pagination nav {float:right;}
	#pagination {margin-right:auto;margin-left:auto;display:table;width:auto;}
    #project .col-sm-10 {padding:10px;}
	#project a {margin:10px;}
	#category {padding-top:0px;}
	#project .login {float:right;}
	#project .checkbox {padding-top:0px;}
	#project .img-responsive {max-width:45%;margin-top:2px;float:right;border:0px;}
	#project hr {margin-top:5px;margin-bottom:5px;}
	.nornal {margin:0px;padding:0px;}
</style>
<div class="container" id="project">
	<div class="row" >
		<div class="col-sm-12">
		  <div class="noral">
		  <label >项目类别:</label>
		  <a href="javascript:void(0)" choiceid="1" class="label label-danger"> 不限</a>
		  <a href="javascript:void(0)"   choiceid="2">每日精选</a>
		  <a href="javascript:void(0)"   choiceid="3">预热中</a>
		  <a href="javascript:void(0)" choiceid="4"> 众投中</a>
		  <a href="javascript:void(0)"   choiceid="5">众投案例</a>
		  </div>
		<hr/>
			<div class="noral">
			  <label >行业类别:</label>
			  <a class="label label-danger" href="javascript:void(0)" choiceid="14"> 不限</a>
			  <a href="javascript:void(0)"   choiceid="15">移动互联</a>
			  <a href="javascript:void(0)"   choiceid="16">节能环保</a>
			  <a href="javascript:void(0)" choiceid="17"> 文化传媒</a>
			  <a href="javascript:void(0)"   choiceid="18">新材料</a>
			  <a href="javascript:void(0)"   choiceid="19">新能源</a>
			  <a href="javascript:void(0)" choiceid="20"> 生物制药</a>
			  <a href="javascript:void(0)"   choiceid="21">消费服务</a>
			  <a href="javascript:void(0)" choiceid="22">信息技术</a>
			  <a href="javascript:void(0)" choiceid="23">其他</a>
			</div>
		</div>
	</div>
</div>
<div class="container" id="detail">{% include 'search_result_single.html' %}</div>
{% endblock %}

{% block script %}
    <script>
   $(document).ready(function(){
       takepage(1);
   })
   $('#project .row').find('a').on("click",function(){
	   $(this).addClass("label label-danger").siblings("a").removeClass("label label-danger");
       takepage(1);
   });

   function takepage(n) {
        var a = getElementsByClassName('label label-danger','choiceid');
        checkparam(n,a);
   }
   function checkparam(page,a) {
        $.get("{% url 'project' %}",
                {
                    page: page,
                    search_word: a,
                },
                function (data) {
                    $('#detail').html(data.content_html);
                }
        );
    }
   function getElementsByClassName(n,m) {
        var el = [],
                _el = document.getElementsByTagName('*');
        for (var i = 0; i < _el.length; i++) {
            if (_el[i].className == n) {
                el[el.length] = _el[i].getAttribute(m);
            }
        }
        return el;
    }

    </script>
{% endblock %}