<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我要投资</title>
<link rel="stylesheet" href="/static/css/index21.css" />
<link  rel="stylesheet"  href="/static/css/touzi.css" />	
</head>

<body>

<div id="Fdiv1">
	<div id="Fdiv2">
		<ul id="Fmain">	
		<ul class="Hul1">
		<ul>
			<li style="margin-top:18px;">
				<img src="/static/images/Conpanylogo.png" width="95px;" height="72px" /></li>
		</ul>
		</ul>
		<ul class="Hul2">
		<ul>
			<li>
				<a href="{% url 'index_jf' %}">首页</a>
			</li>
 		</ul>
		<ul>
    		<li>
				<a href="{% url 'investor' %}">投资人风采</a>
			</li>
  		</ul>
  		<ul>
    		<li>
				<a href="#"项目风采></a>
			</li>
  		</ul>
  		<ul>
			<li>
				<a href="#">项目发起</a>
			</li>
  		</ul>
  		<ul>
    		<li>
				<a href="#">葡萄藤社区</a>
			</li>
		</ul>
		</ul>
		<ul class="Hul3">
  		<ul>
    		<li>
      			<input type="text" placeholder="找项目,领头人" />
    		</li>
  		</ul>
  		<ul type="disc">
    		<li>
				<a href="{% url 'register' %}">注册</a>
			</li>
  		</ul>
  		<ul type="disc">
    		<li>
				<a href="{% url 'login' %}">登录</a>
			</li>
  		</ul>
		</ul>
		</ul>
	</div>
</div>

<!--内容-->
<div class="conext">
    <div class="div11">
		<div class="div_left" id="daohang">
		    <div class="pic">
			    <a href="#" class="blockColor"><img src="/static/images/mojing.jpg" width="220" height="132"></a>
			</div>
		</div>
        <div class="div_right"> 
		      <div style="height:15px;"></div> 
			  <div class="biaoti">魔镜在线</div>	
			  <div class="online"></div>		  
			  <div class="biaoti">
			  <p>
				  <span style="font-size:18px;font-weight:bold;">本轮融资</span>
				  <span style="font-size:22px;font-weight:bold;">100</span>
				  <span style="font-size:14px;">万元</span>
			  <p></div> 
			  <div class="donline1">
				  <ul>
				  <li class>领投金额必须大于10万</li>
				  <li>起投金额必须大于3万</li>
				  </ul>
			  </div>
			  
			  <div style="font-size:18px;font-weight:bold;margin-top:15px;margin-bottom:10px;">投资金额</div>
			  <div class="yuan"><input type="text" class="border1" id="" name=""/><span>万元</span></div>
			  <div style="margin-top:10px;margin-bottom:15px;"><input type="checkbox" value="">
			  <a href="#" style="color:#FF6600;">统一葡萄藤众筹的投资须知及条款</a></div>  
			  <div>	<input type="text" value="确认投资" name="" class="entr"/></div> 	 
			  <div style="height:140px;"></div>
		  
	    </div>
	</div>
</div>

<!--结尾-->

<div id="footer">
		<ul class="ful1">
			<li>
				<label>合作伙伴</label>
				<label style="margin-left:150px;">友情链接</label>
				<label style="margin-left:145px;">联系我们</label>
			</li>
		</ul>
		<ul class="ful2">
			<li>
				<label class="flab1">
					<hr />
				</label>
				<label class="flab2">
					<hr />
				</label>
				<label class="flab3">
					<hr />
				</label>
			</li>
		</ul>		
		<ul class="ful3">
			<li>
				<a href="#">天使客</a>				
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;天使街</a>	
			</li>
		</ul>
		<ul class="ful4">
			<li>			
				<a href="#">股权众筹</a>	
			</li>
			<li>
				<a href="#">众筹工坊</a>	
			</li>
		</ul>
		<ul class="ful5">
			<li>
				<a href="#">咨询热线:400-000-0000</a>	
			</li>
		</ul>
		<ul class="ful6">
			<li>
				<a href="#">&nbsp;京东众筹</a>				
			</li>
			<li>
				<a href="#">&nbsp;大家投</a>	
			</li>
		</ul>
		<ul class="ful7">
			<li>			
				<a href="#">新金融</a>	
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;P2P理财</a>	
			</li>
		</ul>
		<ul class="ful8">
			<li>
				<a href="#">公司邮箱:sys@pttjf.com</a>	
			</li>
		</ul>
		<ul class="ful9">
			<li>
				<a href="#">&nbsp;众筹之家</a>				
			</li>
			<li>
				<a href="#"></a>	
			</li>
		</ul>
		<ul class="ful10">
			<li>			
				<a href="#">证券中星</a>	
			</li>
			<li>
				<a href="#">中申网</a>	
			</li>
		</ul>
		<ul class="ful11">
			<li>
				<a href="#">公司地址:上海市闵行区沪闵路7866号莲花广场2号楼908室</a>	
			</li>
		</ul>
		<ul class="ful12">
			<li>
				<img src="/static/images/8cm.jpg" width="120px;" height="120px;" />
			</li>
		</ul>
</div>
</body>
</html>
