<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load settingsvalue %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的资料</title>
<link rel="stylesheet" href="/static/css/zcheader.css" />
<link rel="stylesheet" href="/static/css/promanager.css" />
<link rel="stylesheet" href="/static/css/btn-change.css" />
<link rel="stylesheet" href="/static/css/uploadify.css" />


<link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="/static/js/birthday.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
	    <script type="text/javascript" src="/static/js/timeplus.js"></script>
    <script src="/static/js/yz.js" type="text/javascript"></script>
	 <script src="/static/js/jquery.qrcode.min.js" type="text/javascript"></script>

<script src="/static/site_media/jquery.uploadify.js"></script>

	<!DOCTYPE html>
<html>
<head>
<title></title>

<script type="text/javascript">
$(document).ready(function() {
  $('#file_upload').uploadify({
     'successTimeout' : 5,
    'buttonClass': 'myfile',
    'fileSizeLimit' : '10000KB',
    'fileTypeDesc' : 'Image Files',
    'fileTypeExts' : '*.gif; *.jpg; *.png',
    'swf'      : '/static/site_media/uploadify.swf',
    'uploader'  : '/uploadify_script/0/',
    'onUploadSuccess' : function(file, data, response) {
            if(response){alert("上传成功！")};
        }
  });
  $('#file_upload_tax').uploadify({
     'successTimeout' : 5,
    'buttonClass': 'myfile',
    'buttonText' : '点击上传税务登记证扫描或高清图片',
    'fileSizeLimit' : '10000KB',
    'fileTypeDesc' : 'Image Files',
    'fileTypeExts' : '*.gif; *.jpg; *.png',
    'swf'      : '/static/site_media/uploadify.swf',
    'uploader'  : '/uploadify_script/3/',
    'onUploadSuccess' : function(file, data, response) {
            if(response){alert("上传成功！")};
        }
  });
    $('#file_upload_organization_code').uploadify({
     'successTimeout' : 5,
    'buttonClass': 'myfile',
    'buttonText' : '点击上传税务登记证扫描或高清图片',
    'fileSizeLimit' : '10000KB',
    'fileTypeDesc' : 'Image Files',
    'fileTypeExts' : '*.gif; *.jpg; *.png',
    'swf'      : '/static/site_media/uploadify.swf',
    'uploader'  : '/uploadify_script/2/',
    'onUploadSuccess' : function(file, data, response) {
            if(response){alert("上传成功！")};
        }
  });
    $('#file_upload_business_license').uploadify({
     'successTimeout' : 5,
    'buttonClass': 'myfile',
    'buttonText' : '点击上传税务登记证扫描或高清图片',
    'fileSizeLimit' : '10000KB',
    'fileTypeDesc' : 'Image Files',
    'fileTypeExts' : '*.gif; *.jpg; *.png',
    'swf'      : '/static/site_media/uploadify.swf',
    'uploader'  : '/uploadify_script/1/',
    'onUploadSuccess' : function(file, data, response) {
            if(response){alert("上传成功！")};
        }
  });

});
</script>



<script type="text/javascript">
$(function(){
	$("#daohang>ul>li>a").click(function(){
		$("#daohang li a").css("color","#808080");
		$(this).css("color","#000");
	
	});

	$("#id_birthday").datepicker({changeYear: true,
		changeMonth: true,
		dateFormat: 'yy-mm-dd',
		yearRange:"1900:2015"});
    $("#save_success").click(function(){alert("保存成功！");});
});
</script>
<script>
<!--取消和关注的切换-->


	$(function(){
		$("[id^='focus_']").each(function() {
			  $(this).click(function(){
					var id = $(this).attr('name');
					
						if($(this).val()=="取消关注"){
								$.post("/cancel_attion/"+id+"/",
								{},
								function(data)
								{});
								$(this).attr("value","关注");

						}else{
								$.post("/add_attion/"+id+"/",
								{},
								function(data)
								{ if(data.comment){alert(data.comment);
								if(data.comment=="关注成功"){document.getElementById('click').innerText=data.attion;}};});
									$(this).attr("value","取消关注");
						}
			  });
		});
		
		$('#focus-pro2').click(function(){
			if($(this).val()=="取消关注"){
				$("#focus-pro2").attr("value","关注");			
			}else{
				$("#focus-pro2").attr("value","取消关注");	
			}		
		});
	});

<!--判断checkbox是否选中-->
	$(function(){
		$("#agree_fuwu").click(function(){
			var flag=$("#tiaokuan").is(":checked");
			if(flag==true){
				return true;
			}else{
				return false;	
			}
		})
	});

<!--获得领投人和跟投人的文本作为跳转的条件-->
	$(function(){
		$("#changeling").on("click",function(){

			alert($("#change_text").text());
		});
		
		$("#changegen").on("click",function(){
			alert($("#gentou_text").text());
		});
		
		var li1=$("li.item-1");
		$("#touzirenzheng").find(li1).click(function(){
			var ids=$(this).data("ee");
			$("#touzirenzheng").attr("data-ee","gtrdata");
		});
	});
	
	
	
<!--个人信息和机构信息的切换-->
	$(function(){	
		$("#gerens").on("click",function(){
			$("#gerens").attr("checked","checked");
			$("#jigous").attr("checked",false);	
			$("#geren").attr("style","display:block");
			$("#jigou").attr("style","display:none");
			$("#person").attr("src","/static/images/person.png");
			$("#mperson").attr("src","/static/images/mperson.png");
		});
		$("#jigous").on("click",function(){
			$("#jigous").attr("checked","checked");
			$("#gerens").attr("checked",false);			
			$("#geren").attr("style","display:none");
			$("#jigou").attr("style","display:block");
			$("#person").attr("src","/static/images/person2.png");
			$("#mperson").attr("src","/static/images/tperson.png");
		});
		{% ifequal user.userinformation.authentication_class '1' %}
			$("#gerens").attr("checked","checked");
			$("#jigous").attr("checked",false);
			$("#geren").attr("style","display:block");
			$("#jigou").attr("style","display:none");
			$("#person").attr("src","/static/images/person.png");
			$("#mperson").attr("src","/static/images/mperson.png");
		{% else %}
			$("#jigous").attr("checked","checked");
			$("#gerens").attr("checked",false);
			$("#geren").attr("style","display:none");
			$("#jigou").attr("style","display:block");
			$("#person").attr("src","/static/images/person2.png");
			$("#mperson").attr("src","/static/images/tperson.png");
		{% endifequal %}

	});
</script>

<script>  
$(function () {
	$.ms_DatePicker({
            YearSelector: ".sel_year",
            MonthSelector: ".sel_month",
            DaySelector: ".sel_day"
    });
	$.ms_DatePicker();
}); 
</script> 
<script type="text/javascript">
	$(function(){
			$('#daohang').find('a').click(function(){
				var id =$(this).data('pp');
				$('#'+id).show().siblings().hide();
			});
	
			$('#Prodaohang').find('a').click(function(){
				var id =$(this).data('qq');
				//alert(id);
				$('#'+id).show().siblings().hide();
			});
			
			$('#anquanzhongxin').find('a').click(function(){
				var id =$(this).data('dd');
				if (id =='xgmm' )
				{$.get("/safecenter/",function(data){ $('#safe_center').html(data.content_html);});}
				else
				{$.get("/change_phone_number/",function(data){ $('#safe_center').html(data.content_html);});};
			});

			$('#xiaoxitongzhi').find('a').click(function(){
				var id =$(this).data('aa');
				$('#'+id).show().siblings().hide();
			});
			$('#lingtouren').find('li').click(function(){
				var id=$(this).data('ee');
				$('#'+id).show().siblings().hide();
			});
			$('#gtren').find('li').click(function(){
				var id=$(this).data('bb');
				$('#'+id).show().siblings().hide();
			});
			$('#tzrenzheng').find('li').click(function(){
				var id=$(this).data('hh');
				$('#'+id).show().siblings().hide();
			});
			$('#tzrztiaokuan').find('li').click(function(){
				var id=$(this).data('yy');
				$('#'+id).show().siblings().hide();
			});
			$('#prorzmessage').find('li').click(function(){
				var id=$(this).data('jj');
				$('#'+id).show().siblings().hide();
			});
	});
</script>
	<script type="text/javascript">
		$(function(){
			$('#daohang a:eq(0)').addClass('clickTag');
			$('#daohang').children('a').bind('focus',function(){
				$('#daohang a').css('color','#808080');
				$(this).css('color','#000');
				$(this).addClass('clickTag').siblings().removeClass('clickTag');
			})

			$('#Prodaohang a:eq(0)').addClass('click-bottom-Tag');
			$('#Prodaohang').children('a').bind('focus',function(){
				$('#Prodaohang a').css('color','#808080');
				$(this).css('color','#000');
				$(this).addClass('click-bottom-Tag').siblings().removeClass('click-bottom-Tag');
			})

			$('#anquanzhongxin a:eq(0)').addClass('click-bottom-Tag');
			$('#anquanzhongxin').children('a').bind('focus',function(){
				$('#anquanzhongxin a').css('color','#808080');
				$(this).css('color','#000');
				$(this).addClass('click-bottom-Tag').siblings().removeClass('click-bottom-Tag');
			})

			$('#xiaoxitongzhi a:eq(0)').addClass('click-bottom-Tag');
			$('#xiaoxitongzhi').children('a').bind('focus',function(){
				$('#xiaoxitongzhi a').css('color','#808080');
				$(this).css('color','#000');
				$(this).addClass('click-bottom-Tag').siblings().removeClass('click-bottom-Tag');
			})
		})
	</script>
<script type="text/javascript">
$(function(){
    $('#selfcenterclick').click(function(){
             $.get("/change_phone_number/",function(data){ $('#safe_center').html(data.content_html);});
			});
	});
</script>


</head>
<body>
<!--头部-->
{% include "zcheader.html" %}


<!--中间内容-->

<div class="UserContent">
	<div class="UserCenter">
<!--项目的tab按钮:包括基本信息,项目管理,投资认证,安全中心,消息通知,邀请好友-->
	<div class="ProChange" id="daohang">
		<a data-pp="basicmessage" href="javascript:void(0);" style="color:#000;"><label class="left_label">基本信息</label></a>
		<div class="Prohr"><hr /></div>
		<a data-pp="promanager" href="javascript:void(0);" style="color:#808080;"><label class="left_label">项目管理</label></a>
		<div class="Prohr"><hr /></div>
		<a data-pp="invest" href="javascript:void(0);" style="color:#808080;"><label class="left_label">投资认证</label></a>
		<div class="Prohr"><hr /></div>
		<a data-pp="selfcenter" id="selfcenterclick" href="javascript:void(0);" style="color:#808080;"><label class="left_label">安全中心</label></a>
		<div class="Prohr"><hr /></div>
		<a data-pp="messageinfo" href="javascript:void(0);" style="color:#808080;"><label class="left_label">消息通知</label></a>
		<div class="Prohr"><hr /></div>
		<!--<a data-pp="txsz" href="javascript:void(0)" style="color:#808080;"><label class="left_label">提醒设置</label></a>
		<div class="Prohr"><hr /></div>-->
		<a data-pp="invitefriend" href="javascript:void(0);" style="color:#808080;"><label class="left_label">邀请好友</label></a>
	</div>
<!--项目的tab按钮 end-->

		<div class="div_right">
<!--基本信息-->
		<div id="basicmessage">
         <form class="userinfoform" action="{% url 'userinfo' %}" method="post"  enctype="multipart/form-data" >
             {% csrf_token %}
			<ul style="float:left" class="Userul">
				<li>
					<label style="font-size:30px;margin-left:-15px;">基本信息</label>
				</li>
				<li>
					<img src="{{ user.userinformation.photo_url }}" style="margin-left:-20px; margin-top:20px;"/>
				</li>
				<li style="margin-top:12px; margin-left:-10px;">
                	<a class="button-shangchuan" href="javascript:;" style="background: url('/static/images/uploadimg.png') no-repeat;border: 0 none;width:105px;height: 35px;">
						<input type="file" name="file" />
                    </a>
				</li>
				<li style=" margin-top:12px; margin-left:-10px;">
					{% ifequal user.userinformation.invest_class 2 %}
                      <img src="/static/images/yerztouzi.png">
					{% endifequal %}
					{% ifequal user.userinformation.invest_class 3 %}
					<img src="/static/images/touzi.png" />
					{% endifequal %}

				</li>
			</ul>
			 <table class="Userul1" style="float:left;">
				 <tr class="user_nick">
					 <td><label>用户名</label></td>
					 <td><label>
						 {{ form.nickname}}
					 </label></td>
				 </tr>

				 <tr class="user_name">
					 <td>
						 <label>关注行业</label>
					 </td>
					 <td>{{ form.cate }}</td>
				 </tr>
				 <tr>
					 <td>
						 <label>性别</label>
					 </td>
					 <td>{{ form.gender }}</td>
				 </tr>
				 <tr class="user_birth">
					 <td>
						 <label>生日</label>
					 </td>
					 <td>{{ form.birthday }}</td>
				 </tr>
				 <tr class="user_email">
					 <td>
						 <label>邮箱地址</label>
					 </td>
					 <td>{{ form.email }}</td>
				 </tr>
				 <tr class="user_city">
					 <td>
						 <label>居住城市</label>
					 </td>
					 <td>{{ form.city }}</td>
				 </tr>
				 <tr class="user_addre">
					 <td><label>居住地址</label></td>
					 <td>{{ form.address }}</td>
				 </tr>
				 <tr class="user_edu">
					 <td><label>学历</label></td>
					 <td>{{ form.education }}</td>
				 </tr>
				 <tr class="user_income">
					 <td><label>月收入</label></td>
					 <td>{{ form.monthly_income }}</td>
				 </tr>
				 <tr class="user_income">
					 <td><label>婚姻状况</label></td>
					 <td>{{form.marriage}}</td>
				 </tr>
				 <tr class="user_wx">
					 <td><label>微信</label></td>
					 <td>{{form.wechat_num}}</td>
				 </tr>
				 <tr class="user_qq">
					 <td><label>QQ</label></td>
					 <td>{{form.qq_num}}</td>
				 </tr>
				 <tr class="user_wb">
					 <td><label>微博</label></td>
					 <td>{{form.weibo_num}}</td>
				 </tr>
				 <tr>
					 <td>
					 </td>
					 <td align="left">
						 <label>
							 <input id="save_success"  type="submit" value=" " style="background: url('/static/images/saveimg.png') no-repeat;border: 0 none;width:105px;height: 35px;"/>
						 </label>
					 </td>
				 </tr>
			 </table>
         </form>
		</div>
<!--基本信息 end-->
	

<!--项目管理-->
		<div id="promanager" class="display">
			<div style="position: relative;top: 35px;">
				<label style="font-size:30px; padding-top:2px;">项目管理</label>
			</div>
			<div class="ProCenter" id="Prodaohang">
				<a data-qq="ltxm" style="float:left;padding-top:20px;" href="javascript:void(0)"><label class="pro-label">已投项目</label></a>
				<a data-qq="gzxm" style="float:left;padding-top:20px;" href="javascript:"><label class="pro-label">关注的项目</label></a>
				<a data-qq="wdxm" style="float:left;padding-top:20px;" href="javascript:;"><label class="pro-label">关注的人</label></a>
				<div style="float:left; margin-left:-245px;border-right:1px solid #eeeef0;width:1px; height:35px;margin-top: 5px;"></div>
				<div style="border-right:1px solid #eeeef0;width:1px; height:35px;float:left; margin-left:-110px;margin-top: 5px;"></div>
				<div style="clear:both"></div>
				<div style="border-top:1px solid #eeeef0;width:700px; height:1px;margin-top: 5px;"></div>
			</div>
<!--项目管理:领投项目-->
			<div class="prosonPage1"><!--定义内容的宽度,高度---> <div id="ltxm">
				{% if leader %}
			    {% for i in leader %}
					<ul class="yitou-pro" style="margin-left:-48px;">
						<li class="img-size" style="float:left;margin-top:10px;">
							<a href="/prodetails/{{i.invest_project.id}}"><img src="{{i.invest_project.logo}}" /></a>
						</li>
						<li style="float:left;width: 300px;margin-top:10px;">
							<label>{{i.invest_project.name}}</label>
							{% ifequal i.invest_project.status 0 %}
							<label style="color:#C30;font-size:14px; font-weight:bold">预热中</label>
							{% endifequal %}
							{% ifequal i.invest_project.status 1 %}
							<label style="color:#C30;font-size:14px; font-weight:bold">众投中</label>
							{% endifequal %}
							{% ifequal i.invest_project.status 2 %}
							<label style="color:#C30;font-size:14px; font-weight:bold">众投成功</label>
							{% endifequal %}
						</li>
						<li style="float:left;width: 400px">
							<label>融资份额</label><b>{{i.invest_project.invest_num}}万份</b>
							<label style="margin-left: 100px;">已融份额</label><b>{{i.invest_project.finish}}万份</b>
						</li>
						<li style="float:left">
							<label>我已预约份额</label><b>{{i.invest_num}}万份</b>
							<label style="margin-left: 70px;">完成率</label><b style="color:#CC6633">{% widthratio i.invest_project.finish i.invest_project.invest_num 100 %}%</b>
						</li>
					</ul>
					<ul style="clear:both"></ul>
				{% endfor %}
				{% else %}
				     你没有领投项目！
				{% endif %}
                </div>
<!--项目管理:领投项目 end-->

<!--项目管理:我的项目-->                
               <div id="wdxm" class="display" style="padding-top:20px">
					   {% if attention_persion %}
					   {% for i in attention_persion %}
				   <div style="float: left;padding-right: 60px;">
					   <img width="90" height="90" src="{{i.userinformation.photo_url}}">
					   <div style="margin-top:5px;">
						   {% if i.userinformation.nickname %}
						   {{i.userinformation.nickname }}
						   {% else %}
						   {{i.username|phone_cut}}
						   {% endif %}
					   </div>
					   <label style="height:20px;width: 100%;display: block"></label>
				   </div>
					   {% endfor %}
					   {% endif %}
               </div>
<!--项目管理:我的项目 end-->

<!--项目管理:关注项目-->                
               <div id="gzxm" class="display">
				   	{% if  attention_pr %}
			    	{% for i in  attention_pr %}
				   <ul class="focus-pro" style="margin-left:-48px;">
                        <li class="img-size" style="float:left;margin-top:10px;">
                            <a href="/prodetails/{{i.id}}"><img src="{{i.logo}}" /></a>
                        </li>
				   		<li style="float:left;width: 300px;margin-top:10px;">
							<label>{{i.name}}</label>
							{% ifequal i.status 0 %}
							<label style="color:#C30;font-size:14px; font-weight:bold">预热中</label>
							{% endifequal %}
							{% ifequal i.status 1 %}
							<label style="color:#C30;font-size:14px; font-weight:bold">众投中</label>
							{% endifequal %}
							{% ifequal i.status 2 %}
							<label style="color:#C30;font-size:14px; font-weight:bold">众投成功</label>
							{% endifequal %}
			   			</li>
					   <li style="float:right">
						   <label>
							   <input id="focus_{{result.user}}" name="{{i.id}}" class="quxiao-attention" type="button" value="取消关注"/>
						   </label>
					   </li>
                        <li style="float:left;">
							<label>融资份额</label><b>{{i.invest_num}}万份</b>
							<label>已融份额</label><b>{{i.finish}}万份</b>
							<label>预约率</label><b style="color:#CC6633">{% widthratio  i.finish i.invest_num 100 %}%</b>
                        </li>

                    </ul>
                    <ul style="clear:both"></ul>
				{% endfor %}
				{% else %}
				     你还没有跟投项目！
				{% endif %}

               </div>
<!--项目管理:关注项目 end-->       
			</div>
		</div>
<!--项目管理 end-->
		<!--投资认证 个人信息-->
    <div id="invest" class="display">
	<div id="touzirenzheng">
            <div id="lingtouren">
                <ul class="tzrzMessage">
                    <li style="font-size:30px;position: relative;top: 30px;left: -80px;">
                        <label>投资认证</label>
                    </li>
                    <li style="font-size:24px;margin-left:-80px;color:#4a3c70;margin-top:20px">
                        <label>请完善您的信息</label>
                    </li>
                    <li style="font-size:24px;margin-left:130px;color:#000">
                        <label>您是个人还是机构？</label>
                    </li>
                    <li style="margin-top:20px;">
                        <img id="person" src="/static/images/person.png" style="margin-left:100px" />
                        <img id="mperson" src="/static/images/mperson.png" style="margin-left:30px"/>
                    </li>
                	<li>
                        <ul id="authentication_type">
                            <li style="float:left;margin-left:70px;color:#e1604d" >
                              <input id="gerens" checked="checked" type="radio" name="touzi" />我是个人                     
                            </li>
                            <li style="float:left;margin-left:60px;color:#e1604d" >
                              <input id="jigous"  type="radio" name="touzi"/>我是机构                     
                            </li>
                        </ul>  
                    </li>
                    <li style="clear:both"></li>
					<table id="geren" style="display:block;">
						<tr>
							<td width="100">真实姓名:</td>

							{% ifequal user.userinformation.authentication_class '1' %}
							<td class="real_name"><input id="real_name" type="text" value="{{user.userinformation.realname}}"></td>

							{% else %}
							<td class="real_name"><input id="real_name" type="text"></td>
							{% endifequal %}
						</tr>
						<tr>
							<td>身份证号码:</td>
							{% ifequal user.userinformation.authentication_class '1' %}
							<td class="icard"><input id = "icard" type="text" value="{{user.userinformation.business_card}}"></td>
							{% else %}
							<td class="icard"><input id = "icard" type="text"></td>
							{% endifequal %}
						</tr>
						<tr>
							<td colspan="3">请上传身份证,帮助我们快速核实您的身份</td>
						</tr>
						<tr style="height: 80px;">
							<td>身份证:</td>
							<td class="upload_file">
								<label>
									点击上传身份证扫描件或高清图片
									<input type="file" name="file_upload"  id="file_upload" />
									</label>
							</td>
							<td>
								{% if user.userinformation.id_card  %}
								<img src="{{ user.userinformation.id_card }}"/>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="refer-aggree" colspan="3">
								<label>提交则视为同意葡萄藤金服<a href="{% url 'guide' %}"><<服务条款>></a>和<a href="{% url 'guide' %}"><<风险提示>></a></label>
							</td>
						</tr>
						<tr align="center">
							<td colspan="3">
								<input id="auth_submit" class="button_save" type="button" value=" " style="background: url('/static/images/submitimg.png') no-repeat;border: 0 none;width:105px;height: 35px;margin-left:-80px;cursor: pointer">
							</td>
						</tr>
					</table>
					<table id="jigou" style="display:none">
						<tr>
							<td>法人姓名:</td>
							{% ifequal user.userinformation.authentication_class '2' %}
							<td class="real_name"><input id ="real_name_p" type="text" value="{{user.userinformation.realname}}"></td>
							{% else %}
							<td class="real_name"><input id ="real_name_p" type="text"></td>
							{% endifequal %}

						</tr>
						<tr>
							<td>身份证号码:</td>
							{% ifequal user.userinformation.authentication_class '2' %}
							<td class="icard"><input id ="icard_p" type="text" value="{{user.userinformation.business_card}}"></td>
							{% else %}
							<td class="icard"><input id ="icard_p" type="text"></td>
							{% endifequal %}
						</tr>
						<tr>
							<td colspan="3">请上传相关证件,帮助我们快速核实您的身份</td>
						</tr>
						<tr style="height: 80px;">
							<td>营业执照</td>
							<td class="upload_file">
								<label>
									点击上传营业执照扫描件或高清图片
									<input type="file" name=""  id="file_upload_business_license" />
								</label>
							</td>
							<td>
								{% if user.userinformation.financial_assets %}
								<img src="{{ user.userinformation.financial_assets }}" />
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>组织机构代码</td>
							<td class="upload_file">
								<label>
									点击上传组织机构代码证扫描件或高清图片
									<input type="file" name=""  id="file_upload_organization_code" />
								</label>
							</td>
							<td>
								{% if user.userinformation.fixed_assets %}
								<img src="{{ user.userinformation.fixed_assets }}"/>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>税务登记证</td>
							<td class="upload_file">
								<label>
									点击上传税务登记证扫描或高清图片
									<input type="file" name=""  id="file_upload_tax" />
								</label>
							</td>
							<td>
								{% if user.userinformation.income_assets %}
								<img src="{{ user.userinformation.income_assets }}"/>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="refer-aggree" colspan="3">
								<label>提交则视为同意葡萄藤金服<a href="{% url 'guide' %}"><<服务条款>></a>和<a href="{% url 'guide' %}"><<风险提示>></a></label>
							</td>
						</tr>
						<tr align="center">
							<td colspan="3">
								<input class="button_save" id="submit_p" type="button" value=" " style="background: url('/static/images/submitimg.png') no-repeat;border: 0 none;width:105px;height: 35px;cursor: pointer">
							</td>
						</tr>
					</table>
                </ul>
               
           </div>
        </div>
 
  <!--投资认证 个人信息 end-->
</div>
<!--投资认证 end-->

<!--安全中心-->			
        <div id="selfcenter" class="display" style="margin-left:20px;">
            <div class="ProCenter1"  id="anquanzhongxin">
				<div style="position: relative;top: 30px;left: -20px;">
					<label style="font-size:30px;">安全中心</label>
				</div>
				<a style="margin-top:50px; margin-left:-20px;float:left" data-dd="ghsj" href="javascript:void(0)"><label class="self-label">更换手机</label></a>
				<div style="float:left; margin-top:40px; margin-left:5px;width:1px;height:30px;background-color:#D5D5D5;overflow:hidden;"></div>
				<a style="margin-top:50px; margin-left:20px;float:left" data-dd="xgmm" href="javascript:void(0)" id="change"><label class="self-label">修改密码</label></a>
				<div style="clear:both"></div>
				<div style="width:600px;height:1px; background-color:#D5D5D5;overflow:hidden;margin-top:10px; margin-left:-20px;"></div>
            </div>
            <div class="prosonPage2">
                <div id = "safe_center"></div>
            </div>
        </div>
<!---安全中心 end-->

<!--消息通知-->
		<div id="messageinfo" class="display" style="margin-left: 30px;">
			<div style="position: relative;top: 35px;left: -30px;">
				<label style="font-size:30px;">消息通知</label>
			</div>
                <div class="ProCenter2" id="xiaoxitongzhi">
                            <a data-aa="grxx" style="margin-top:30px; margin-left:-30px;float:left" href="javascript:void(0)"><label class="message-label">个人信息</label></a>
                            <div style="width:1px;height:30px;background-color:#D5D5D5;overflow:hidden;float:left;margin-top:16px;"></div>
                            <a data-aa="tz" style="margin-top:30px;float:left" href="javascript:void(0)"><label class="message-label">通知</label></a>
					<div style="width:740px;height:1px;background-color:#D5D5D5;overflow:hidden;float: left;margin-top: 10px;margin-left: -30px;"></div>
                </div>
			<div class="prosonPage3">
                <div id="grxx" style="margin-left: -60px;margin-top:25px;">
					{% if signal %}
					{% for i in signal reversed %}
					<ul class="personal-message">
                        <li style="float:left;height: 80px;width: 60px">
                        <img src="{{i.user.userinformation.photo_url}}" width="60px" height="50px;" />
                        </li>
                        <li style="margin-left:60px;float:left;width: 460px">
                            <label>{{i.content}}</label>
                        </li>
						<li style="float: left;width: 100px">
							<img src="/static/images/news.png"  />
						</li>
                        <li style="float:left;margin-left:52px;">
                            <label style="padding-left:10px;">{{i.user.userinformation.nickname}}</label>
                            <label>于 {{i.add_date|date:"Y-m-j  H:i:s" }} 发送</label>
                        </li>
                        <li style="margin-left:620px; margin-top:-80px;float:left">
							{% if i.user.userinformation.nickname %}
                            <input type="button" data-id="{{i.user.username}}" id ="reply_{{i.user.id}}" name ="{{i.user.userinformation.nickname}}" style="background: url('/static/images/reply.png') no-repeat;border: 0 none;width:105px;height: 35px;" value=" " />
                            {% else %}
							<input type="button" data-id="{{i.user.username}}" id ="reply_{{i.user.id}}" name="{{i.user.username}}" style="background: url('/static/images/reply.png') no-repeat;border: 0 none;width:105px;height: 35px;" value=" " />
                            {% endif %}

						</li>
						<li style="margin-left:620px; margin-top:-40px;float:left">

                            <input type="button" data-id="{{i.id}}" id ="delete_{{i.id}}" name ="" style="background: url('/static/images/del.jpg') no-repeat;border: 0 none;width:105px;height: 35px;" value=" " />
						</li>
                    </ul>
					<ul>
						<li style="clear: both">
						</li>
					</ul>
					<ul>
						<li style="margin-left:-5px;padding:20px 0">
							<div style="width:740px; height:1px;background-color:#D5D5D5"></div>
						</li>
					</ul>
					{% endfor %}
					{% else %}
					<ul>
                        <li>
                            <label>您还没有收到消息！</label>
                        </li>
                    </ul>
					{% endif %}
                </div>
				<div id="tz" class="display" style="margin-left: -60px;margin-top:25px;">
					{% if notice %}
					{% for i in notice  reversed %}
					<ul class="personal-message">
						<li style="float:left;height: 80px;width: 60px">
							<img src="{{i.user.userinformation.photo_url}}" width="60px" height="50px;" />
						</li>
						<li style="margin-left:60px;float:left;width: 460px;">
							<label>{{i.content}}</label>
						</li>
						<li style="float: left;width: 100px">
							<img src="/static/images/news.png"  />
						</li>
						<li style="margin-left:50px;float:left;margin-top:15px;">
							<label style="padding-left:10px;">{{i.user.userinformation.nickname}}</label>
							<label> 于 {{i.add_date|date:"Y-m-j  H:i:s" }} 发送</label>
						</li>
						
					</ul>
					<ul>
						<li style="clear: both">
						</li>
					</ul>
					<ul>
						<li style="margin-left:-5px;padding:20px 0">
							<div style="width:700px; height:1px;background-color:#D5D5D5"></div>
						</li>
					</ul>
					{% endfor %}
					{% else %}
					<ul>
                        <li>
                            <label>您还没有收到通知！</label>
                        </li>
                    </ul>
					{% endif %}
                </div>
			</div>
		</div>
<!--消息通知 end-->

<!--邀请好友-->
	<div id="invitefriend" class="display">
		<div class="ProCenter3">
			<ul>
				<li style="position: relative;top: 35px;">
					<label style="font-size:30px;">邀请好友</label>
				</li>
				<li style="margin-top:55px;">
					<!--<label><b>邀请有好礼</b></label>
					<label>已邀请0个好友</label>
					<label><div style="border-top:1px solid #eeeef0;width:100px;height:1px;margin-left:95px;"></div></label><br />-->
					<label>扫描二维码或复制链接分享给好友注册,有意想不到的惊喜!</label>
				</li>
				<li style="margin-top:10px;" id="qrcodeTable">

				</li>
				<li style="margin-top:-240px;margin-left:300px;">
					<label><div style="width:1px;height:222px; border-right:1px solid #eeeef0;"></div></label>				
				</li>
				<ul class="giftpadding" style="margin-top:-240px;margin-left:300px;">
					{% if extend %}

					<li>
						您的邀请码是:{{extend.extend_code}}
						<label><textarea cols="40" rows="2" id="biao1">http://www.pttjf.com/register/?code={{extend.extend_code}}</textarea></label>
					</li>
					<li>
						<input onclick="copyUrl()" type="button" style="background: url('/static/images/on-clickcopy.jpg') no-repeat;border: 0 none;width:105px;height: 35px;" value=" " />
					</li>
					{% else %}
					<li>
						<input onclick="generate()" type="button"  value="获取推广邀请码 " />
					</li>
					{%  endif  %}
				</ul>
			</ul>
		</div>
	</div>
<!--邀请好友 end-->

<!--提醒设置-->
		<!--<div id="txsz" class="display">
			<table class="proleft_detail" width="700" style="padding: 10px 0;margin-top: 65px;margin-left: -20px;">
				<tr>
					<td style="font-size:30px">提醒设置</td>
				</tr>
				<tr>
					<td width="220" rowspan="6">
						<img width="200" height="130" src="/static//images/mojing.jpg"></td>
					<td align="left">魔镜在线</td>
					<td align="right" colspan="4">
						<div class="btn">
							<a href="#"><img src="/static/images/delete.png"></a>
						</div>
						<div class="btn">
							<a href="#"><img src="/static/images/save.png"></a>
						</div>

					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div style="border-bottom: 1px solid #a8a8a8"></div>
					</td>
				</tr>
				<tr>
					<td width="16" class="shows">
						<div class="checkbox">
							<input id="example" type="checkbox">
							<label for="example"></label>
						</div>
						<label class="lbl-text">众筹开始</label>
					</td>
					<td align="left" class='tg-list1' style="padding:0;">
						<input class='tgl1 tgl-light1' name="checkbox1" id='cb2' type='checkbox'>
						<label class='tgl-btn1' for='cb2'></label>
					</td>
				</tr>
				<tr>
					<td class="shows" width="140">
						<div class="checkbox">
							<input id="example1" type="checkbox">
							<label for="example1"></label>
						</div>
						<label class="lbl-text">预约金额大于</label></td>
					<td class="write-text"><input type="text"></td>
				</tr>
				<tr>
					<td class="shows" width="140">
						<div class="checkbox">
							<input id="example2" type="checkbox">
							<label for="example2"></label>
						</div>
						<label class="lbl-text">预约率大于</label></td>
					<td class="write-text"><input type="text"></td>
				</tr>
				<tr>
					<td class="shows" width="140">
						<div class="checkbox">
							<input id="example3" type="checkbox">
							<label for="example3"></label>
						</div>
						<label class="lbl-text">预约人数大于</label></td>
					<td class="write-text"><input type="text"></td>
				</tr>
			</table>
		</div>-->
<!---->
</div>
</div>
</div>
 <script type="text/javascript">
	 function copyUrl()
	  {
		  var Url=document.getElementById("biao1");
		  Url.select(); // 选择对象
		  document.execCommand("Copy"); // 执行浏览器复制命令
		  alert("已复制好，可贴粘。");
	  }
	  function generate()
	  {
	  $.post("{% url 'generate' %}",{},function(){ window.location.reload();});

	  }
	  $(document).ready(function(){
			$("#auth_submit").click(function(){
				if ($('#gerens').is(":checked")){var type = 0;}else{var type =1;};
				var real_name = $("#real_name").attr("value");
				var icard = $("#icard").attr("value");
				if(!real_name){alert("请输入真实姓名!")}else{
					var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
					if(!icard||icard.match(reg)==null){alert("请输入正确的身份证!")}
					else{
						$.post("{% url 'auth_register' %}",
						{
							real_name: real_name,
							icard: icard,
							type:type,
						},
						function (data) {
						alert('认证成功!');
						})
					};
				}
			});
			$("#submit_p").click(function(){
				if ($('#gerens').is(":checked")){var type = 0;}else{var type =1;};
				var real_name = $("#real_name_p").attr("value");
				var icard = $("#icard_p").attr("value");
				if(!real_name){alert("请输入法人姓名!")}else{
					var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
					if(!icard||icard.match(reg)==null){alert("请输入正确的身份证!")}
					else{
						$.post("{% url 'auth_register' %}",
						{
							real_name: real_name,
							icard: icard,
							type:type,
						},
						function (data) {
						alert('认证成功!');
						})
					};
				}
			});
	  })
  </script>
<script>
$(function() {
	// 在页面添加 mask
	var mask = function() {
			$('<div id="mask" style="width: ' + $(window).width() + 'px; '
			+ 'height: ' + $(window).height() + 'px;"></div>').appendTo("body");};

	$(window).on("resize", function() {
		if($("#mask").length) {
				$("#mask").css({
						width: $(window).width(),
						height: $(window).height(),
						opacity: 0});
				}
	});

	$("[id^='reply_']").each(function() {
	    $(this).click(function(){
	    	var name = $(this).attr('name');
	    	var userid = $(this).data('id');
			{% if user.id %}
					var  html= '<div id="alert"  style="hidden"><p>发送给'+name+'</p>' +
					'<p>内容:</p>'+
					'<textarea rows="10" cols="30" id="content" name="content"></textarea>'+'<br><br>'
					+'<input type="button" name='+userid+' value=" " id="no" style="width:80px;height:28px;background:url(/static/images/reset.png);background-repeat:no-repeat;border:0 none;margin-left:133px;display:block;float:left;margin-top:-15px;"/>'+
					'<input type="button" name='+userid+' value=" " id="ok" style="width:80px;height:28px;background:url(/static/images/send.png);background-repeat:no-repeat;border:0 none;margin-left:74px;display:block;float:left;margin-top:-15px;"/></div>';
                   $(html).appendTo("body");

			{% else %}
				alert('请先登录!');
			{% endif %}
		});
	});

	$("[id^='delete_']").each(function() {
	    $(this).click(function(){
	    	var signalid = $(this).data('id');
            $.post("{% url 'delete_signal' %}",
            {id:signalid},
            function (data){location.reload();}
            )
		});
	});

// 只有点击 alert 中的按钮 mask 才会被移除

// 只有点击 alert 中的按钮 mask 才会被移除
	$(document).on("click", "#ok", function() {
		 {% if user.id %}
		 	    var content = $("#content").val();
                if(content.length >50){alert("发送内容请不要超过50个字!")}else{
		        $.post("{% url 'sendSMS' %}",
                {
                    investor: $("#ok").attr('name'),
                    content: content,
                },
                function (data) {
                if(data.success=="1"){alert('发送成功!');}else{alert("发送内容不能为空!")}
                })}
         {% else %}
         	alert('请先登录!');
         {% endif %}
		$("#mask, #alert").remove();
	});
// 只有点击 alert 中的按钮 mask 才会被移除
	$(document).on("click", "#no", function() {
		$("#mask, #alert").remove();
	});

});
</script>

<script>
	jQuery('#qrcodeTable').qrcode({
		render	: "canvas",
		width   :  256,
		height  :  256,
		text	: "http://www.pttjf.com/register/?code={{extend.extend_code}}"
	});
</script>



<!--底部-->
{% include "footer.html" %}
</body>
<style type="text/css">
#alert {width: 500px;left: 40%;margin-left: -100px;text-align: center;top: 250px;background: #eee;position: fixed;z-index: 10000;}
#mask {background: #000;opacity: 0;position: fixed;z-index: 9999;top: 0;left: 0;}
</style>
</html>
