{% extends 'guide_base.html' %}
{% block navigation %}
{% include 'navigation_userinfo.html' %}
{% endblock %}
{% block css %}
        <link href="/static/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<style>
    #info .form-control{display:inline;width:70%;float:right;}
    .check_radio {width:30%;}
    input[type="radio" i]{margin:3px 3px 3px 5px;}
    lable[@for="id_gender_*"]{margin-left:40px;}
    #photo_url img {margin-left:auto;margin-right:auto;margin:10px;}
    #photo_url button{margin-left:auto;margin-right:auto;}
    #photo_url .btn{padding:0px;width:100px;}
    #save {width:100%; margin-top:40px;}

</style>
{% endblock %}
{% block script %}
        <script src="/static/js/fileinput.js" type="text/javascript"></script>
        <script src="/static/js/fileinput_locale_fr.js" type="text/javascript"></script>
        <script src="/static/js/fileinput_locale_es.js" type="text/javascript"></script>
        <script src="/static/js/fileinput_locale_zh.js" type="text/javascript"></script>
        <script src="/static/site_media/jquery.uploadify.js"></script>
<script>
    $(function(){
        $('p label[for=id_gender_0]:eq(0)').addClass('check_radio');
        $('p label[for=id_marriage_0]:eq(0)').addClass('check_radio');
        })
    $(function(){
          $('#upload_photo').uploadify({
             'successTimeout' : 5,
             'queueID'  : 'some_file_queue', //进度条
            'buttonClass': 'btn btn-default',
            'buttonText' : '上传图片',
            'fileSizeLimit' : '10000KB',
            'fileTypeDesc' : 'Image Files',
            'fileTypeExts' : '*.gif; *.jpg; *.png',
            'swf'      : '/static/site_media/uploadify.swf',
            'uploader'  : '/upload_photo/',
            'onUploadSuccess' : function(file, data, response) {
                    if(data){location.reload();};
                }
          });
    });
</script>
{% endblock %}
{% block content %}
<div class="row" style="margin:0px;padding:0px;">
    <div class="col-sm-12 col-sm-offset-5">
    <h2 class="center-block" style="margin-top:0px;margin-bottom:0px;">基本信息</h2>
    </div>
</div>
    <hr style="margin-top:10px;margin-bottom:10px;">
<div class="row" style="margin-top:0px;padding-top:0px;">
    <div class="col-sm-2" >
        <div id="photo_url">
            <img src="{{ user.userinformation.photo_url }}" class="img-responsive" alt="Responsive image">
            <button type="button" id="upload_photo">上传图片</button>
        </div>
        <div id="some_file_queue" style="z-index:10000;position: fixed;"></div>
    </div>
    <div class="col-sm-6 col-sm-offset-1" id="info">
    {{form.as_p}}
      <button type="button" class="btn btn-primary center-block" id="save">保存</button>
    </div>
</div>
{% endblock %}
