html,body{height: 100%}
html{font-size: 10px;}
*{margin:0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust: none;font-family: Arial,'Microsoft YaHei';}
body{font-size:1.2em;background: #f5f5f5}
a{text-decoration: none}
li{list-style-type: none}
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], input[type="email"], input[type="url"],input[type="submit"], textarea{cursor:pointer;-webkit-appearance:none;border-radius:0;}
input:focus, select:focus, textarea:focus, button:focus{outline: none}
[class^="icon-"],[class*=" icon-"]{font-family:'m-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.touchweb-com_header{position:relative;height: 44px;background-color:#fff;border-bottom: 1px solid #e5e5e5}
.touchweb-com_header h1{height: 44px;line-height: 44px;font-size:1.7rem;padding:0 25%;text-align: center;color: #000;overflow: hidden;white-space: nowrap;font-weight: normal}
.touchweb-page_fpwd .fpwd_box{margin-top:40px;border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;background-color: #fff}
.touchweb-page_fpwd .fpwd_box .form_item{display: -webkit-box;display:-webkit-flex;display: -ms-flexbox;display:flex;margin:0 auto;width: 320px;height: 44px}
.touchweb-page_fpwd .fpwd_box .form_item label{display: block;width: 70px;height: 44px;text-align: center;font-size:1.4rem;color:#666;line-height: 44px;padding:0 10px}
.touchweb-page_fpwd .fpwd_box .input_box{position: relative;flex: 1;-webkit-box-flex: 1;width: auto;height: 43px;border-bottom: 1px solid #e5e5e5}
.touchweb-page_fpwd .fpwd_box .form_item .input_box input{width: 50%;height: 43px;line-height: 20px;padding: 12px 30px 11px 0;border:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*提示信息*/
/*.Validform_error{background-color: #ffe7e7;}*/
.touchweb-page_fpwd .fpwd_box .form_item span{position: absolute;}
.Validform_checktip{color: #999;font-size: 12px; height: 20px;line-height: 20px;overflow: hidden; margin-left:10px;}
.Validform_wrong{color: red;padding-left: 20px;white-space: nowrap; background:url(../images/error.png) no-repeat 0 center;}
.Validform_right{color: #71b83d;padding-left: 20px; background:url(../images/right.png) no-repeat 0 center;}
.touchweb-page_fpwd .fpwd_box .form_item:last-child .input_box1{border: none}
.touchweb-page_fpwd .fpwd_box .input_box1{position: relative;flex: 1;-webkit-box-flex: 1;width: 50%;height: 43px;border-bottom: 1px solid #e5e5e5;overflow: hidden}
.touchweb-page_fpwd .fpwd_box .form_item .input_box1 input{width: 30%;height: 43px;line-height: 20px;border:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.touchweb-page_fpwd .fwp_btn{max-width: 290px;margin:20px auto 0;}
.touchweb-page_fpwd .fwp_btn input[type='submit']{display:block;width: 100%;height: 44px;border-radius: 5px;text-align: center;background-color:#ff3c3c;outline: none;color: #fff;border: none}
.touchweb-page_fpwd .fwp_btn .btn:visited{color: #fff}
.touchweb-page_fpwd .fwp_btn .btn:active{background-color: #e53636}
