
	li{list-style:none;}
	a{text-decoration:none;}
	images,div,input{border:0 none;}
	.box{overflow:hidden;width:100%;height:auto;display:block;height: 400px;}
	.banner{overflow:hidden;width:100%;height:auto;margin: 0px;padding: 0px;}
	.box .banner li{width:100%;height:auto;}
	.box .banner li a{display:none;width:100%;height:auto;}
    .box .banner li a span{ position:absolute;top:100px;left:600px;width:300px;color:#fff;}
	.spaan2,spaan3{display:none;}
	.box .banner li a img{max-width: 100%;height: 400px;width: auto\9;/* ie8 */}
	.box .banner li a images{display:block;width:100%;height:auto; background-size: cover;}
	.prev{display:block;text-align:center;background:#666;position:absolute;color:#fff;opacity:0.5;}
	.next{display:block;text-align:center;background:#666;position:absolute;color:#fff;opacity:0.5;}
	.prev{top:197px;left:1%;}
	.next{top:197px;right:5px;z-index:999;}
	.prev:hover,.next:hover{opacity:1;}
	.div{position:relative;width:100%;height:30px;bottom:0;left:0;background:#333;opacity:0.5;z-index:8;}
	ul.btn{text-align:center;position:absolute;width:100%;bottom:7px;left:50%;margin-left:-50%;z-index:9;}
	ul.btn li{width:15px;height:15px;background:#ccc;border-radius:8px;font:12px/15px 宋体;display:inline-block;cursor:pointer;}
	ul.btn li.on{opacity:0.5;background:#D50A0E;color:#ff0;}
	.prev, .next {width: 60px;height: 60px;font: 35px/60px 宋体;border-radius: 33px;}
	