body,p{margin:0;padding:0;border:0;}
.index_content{width:100%;min-width: 1440px;max-width:1660px;}
.Cul1{width: 215px;height:150px; background-color:#FFFFFF;margin: 0px;}
.Cul1 li{margin-left:-15px; line-height:25px; }
.input_btt{border:1px solid #FF6600; background:#FF6600;width:200px;height:10px; border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
#seatch_norm{width:980px;height:70px; background:#FFFFFF;}
.lineline{ height:20px;}
.right_scroll_context{width:104px;position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}
li{list-style:none;}
a{text-decoration:none;}
	image,div,input{border:0 none;}
	.box{overflow:hidden;width:100%;display:block;position: relative;top: -1.5px;}
	.banner{width:100%;height:auto;margin: 0;padding: 0;}
	.box .banner li{width:100%;height:auto;}
	.box .banner li a{display:none;width:100%;height:auto;}
    .box .banner li a span{ position:absolute;top:100px;left:600px;width:300px;display: block;background: rgb(255, 255, 255) none repeat scroll 0% 0%;opacity: 0.7;}
	.spaan2{display:none;}
	.box .banner li a img{max-width: 100%;;width: auto\9;/* ie8 */}
	.prev:hover,.next:hover{opacity:1;}
	.div{position:relative;width:100%;height:30px;bottom:0;left:0;background:#333;opacity:0.5;z-index:8;}
	ul.btn{text-align:center;position:absolute;width:100%;bottom:7px;left:50%;margin-left:-50%;z-index:9;}
	ul.btn li{width:15px;height:15px;background:#ccc;border-radius:8px;font:12px/15px 宋体;display:inline-block;cursor:pointer;}
	ul.btn li.on{opacity:0.5;background:#D50A0E;color:#ff0;}
	.prev, .next {width: 60px;height: 60px;font: 35px/60px 宋体;border-radius: 33px;display:block;text-align:center;background:#666;position:absolute;color:#fff;opacity:0.01;top:197px;z-index:999;}
	.prev{left:1%;}
	.next{right:5px;}
     .ho{opacity: 0.5;z-index: 999}
	.ho1{opacity: 0.01;z-index: 999}
	.ztmain{
		width:100%;background-color:#eeeef0;min-width: 1440px;max-width:1660px;margin-top: -5px;
	}
   .zc-content{width: 1150px;margin: 0 auto;overflow:hidden;}
   .xujgstyle{width:1200px;margin:0px auto;margin-top:20px;clear:both;}
.biaotidiv{width: 1140px;height:50px;margin-top:20px;clear:both;padding-right:20px;}
.biaotidiv ul li.btstyle{font-size:25px;font-weight:bold; color:#000000;float:left;}
.biaotidiv ul li.ckgdstyle{float:right}
.biaotidiv ul li a{font-size:12px; color:#000000;}
.resultpage{width:255px;height:330px;margin-left:30px;float:left;}
.resultpage a{display:block;}
.resultpage a:hover {
	-o-box-shadow:0 0 3px 0 #0e90d2,0 1px 6px 0 #888;
	box-shadow:0 0 3px 0 #0e90d2,0 1px 6px 0 #888;
	transform:translateY(-3px);
	height:302px;
}
.heartimg{width:80px;height:20px;float:left;padding-top: 5px;padding-left: 5px;}
.littleimg{width:50px;height: 20px;float:left;top: 5px;left: 5px;position:relative;background-color:#CCC;border:1px solid #CCC;border-radius:10px;-moz-border-radius:10px;-moz-border-radius:10px;filter:alpha(opacity=80);opacity:0.8;font-size: 14px;}
.littleimg span{height:20px;font-weight:bold; color:#FFF;display: block;float: right;padding-right: 10px;}
.jingxuan{ position:relative;}
.jingxuan img{float:right;margin-top: -8px;margin-right: -5px}
.Cul1 li{color:#000000;font-size:12px;line-height: 30px;}
.Cul1 li b{font-size:16px;line-height: 30px; font-weight:bold;}
.mjzximg img{width:255px;}
.fixed{position:fixed;bottom: 60px;left: 10px;}
.side{width: 70px;z-index: 2;right: 10px;position: fixed;bottom: 20px}
.side a{font-size: 14px;color: #FFFFFF}
.index-percent em{display:block;height:12px;}

#right_float{
	height: 350px;
	width: 57px;
}
#right_float .down{
	position: absolute;

}
#right_float p{
	position: relative;
}
#right_float p{
	width:35px;
}
#right_float a.erwei{
	background: url(/static/images/weixin_1.png) no-repeat;
}
#right_float p a{
	width: 57px;
	height: 57px;
	display: block;
	margin: 5px;
	/*padding: 3px;*/
	overflow: hidden;
	margin-left: 7px;
}
#right_float .l_r3{
	/*display: none;*/
	width: 0px;
	height: 154px;
	position: absolute;
	right: 34px;
	top: 10px;
	margin: 0;
}
#right_float a.callphone{
	background: url(/static/images/phone.png) no-repeat;
}
#right_float .l_r4 {
	width: 0px;
	height: 57px;
	line-height: 57px;
	background: rgb(213, 94, 75);
	position: absolute;
	right: 30px;
	top: 0px;
	margin: 0px;
	text-align: center;
	font-family: 微软雅黑;
}
#right_float a.fanhui{
	background: url(/static/images/gototop.png) no-repeat ;
}
#right_float a.address{
	background: url(/static/images/address.jpg) no-repeat ;
}
#right_float .l_r6 {
	width: 0px;
	height: 57px;
	line-height: 30px;
	background: rgb(213, 94, 75);
	position: absolute;
	right: 30px;
	top: 0px;
	margin: 0px;
	text-align: center;
	font-family: 微软雅黑;
}
#right_float .l_r7 {
	width: 0px;
	height: 57px;
	line-height: 57px;
	background: rgb(213, 94, 75);
	position: absolute;
	right: 30px;
	top: 0px;
	margin: 0px;
	text-align: center;
	font-family: 微软雅黑;
}
#right_float a.emails{
	background: url(/static/images/emails.jpg) no-repeat;
}
#right_float .l_r5 {
	width: 0px;
	height: 57px;
	line-height: 57px;
	background: rgb(213, 94, 75);
	position: absolute;
	right: 30px;
	top: 0px;
	margin: 0px;
	text-align: center;
	font-family: 微软雅黑;
}

 
