
.ul7 a{text-decoration:none;color:#FFFFFF;margin:0 10px;}

.ul7 a:hover{color:#e1604d;cursor:pointer;}

.ul8 a{text-decoration:none;color:#FFFFFF;margin:0 10px;}
.ul8 a:hover{color:#e1604d;cursor:pointer;}
#container{	background-color:#372c3a;height:70px;width:1140px;margin-left:210px;}

.ul7{list-style:none;color:#FFFFFF;float:left;font-size:18px;margin-left:140px;}

.ul8{position:absolute;font-size:18px;color:#FFFFFF;float:left;margin-left:670px;}
	
.ul8 .lab1{font-size:8px; color:#999999;}

.ul8 .lab2{font-size:18px; color:#999999; margin-left:10px;}
.ul8 .lab3{margin-left:16px;font-size:12px;}
.ul8 .lab4{margin-left:-5px;font-size:12px;}

