html,body{height: 100%}
html{font-size: 10px;}
*{margin:0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust: none;font-family: Arial,'Microsoft YaHei';}
body{font-size:1.2em;background: #f5f5f5}
a{text-decoration: none}
li{list-style-type: none}
img{margin:0;padding: 0}
input:-webkit-autofill{background-color: rgb(255,255,255);}
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], input[type="email"], input[type="url"],input[type="submit"], textarea{cursor:pointer;-webkit-appearance:none;border-radius:0;}
input:focus, select:focus, textarea:focus, button:focus{outline: none}
.touchweb-com_header{position: relative;height: 44px;background-color: #fff;border-bottom: 1px solid #e5e5e5}
.touchweb-com_header h1{height:44px;line-height:44px;font-size:2rem;text-align:center;font-weight:normal;color:#000;padding:0 25%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.touchweb_page-login .login_box{margin-top: 44px;border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;background-color: #fff}
.touchweb_page-login .login_box .form_item{display: -webkit-box;display:-webkit-flex;display: -ms-flexbox;display:flex;width: 320px;height: 44px;margin:0 auto}
.touchweb_page-login .login_box .form_item label{display: block;width: 60px;height: 44px;line-height: 44px;text-align: center;font-size: 14px;color: #666}
[class^="icon-"],[class*=" icon-"]{font-family:'m-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.touchweb_page-login .login_box .form_item:last-child .input_box{border:none}
.touchweb_page-login .login_box .form_item .input_box{position: relative;flex: 1;-webkit-box-flex: 1;width: auto;height: 43px;border-bottom: 1px solid #e5e5e5;}
.touchweb_page-login .login_box .form_item .input_box input{
    height: 43px;padding: 12px 20px 11px 0;border:none;font-size: 1.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.touchweb_page-login .login_box .form_item .input_boxcode{
    position: relative;flex: 1;-webkit-box-flex: 1;width: auto;height: 43px;
}
.touchweb_page-login .login_box .form_item .input_boxcode input{
    height: 43px;padding: 12px 20px 11px 0;border:none;font-size: 1.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.touchweb_page-login .login_box .form_item .input_box input[type="text"]{
    width: 50%;
    vertical-align: middle;
}
.touchweb_page-login .login_box .form_item .input_box input[type="password"]{
    width: 50%;
    vertical-align: middle;
}
.touchweb_page-login .login_box .form_item .input_boxcode input[type="text"] {
    width: 30%;
    padding:14px 10px 11px 0;
}
.touchweb_page-login .login_btn{max-width: 290px;margin:20px auto 0}
.touchweb_page-login .login_btn .btn{display: block;width: 100%;height: 44px;border-radius: 5px;text-align: center;font-size: 1.4rem;color: #fff;background-color: #ff3c3c;line-height: 44px;border:none;outline: none}
.touchweb_page-login .login_btn .btn:visited{color: #fff}
.touchweb_page-login .login_btn .btn:active{background-color: #e53636}
.touchweb_page-login .remember_login{margin:20px 0;}
.touchweb_page-login .remember_login ul{display: -webkit-box;display:-webkit-flex;display: -ms-flexbox;display:flex;max-width: 290px;margin:20px auto 0;}
.touchweb_page-login .remember_login ul li{text-align: center;}
.touchweb_page-login .remember_login .register{font-size: 1.4rem;color: #e53636;display: -webkit-box;display:-webkit-flex;display: -ms-flexbox;display:flex;justify-content: flex-start;}
.touchweb_page-login .remember_login .forger_password{font-size:1.4rem;color:#07a5ff;display: -webkit-box;display:-webkit-flex;display: -ms-flexbox;display:flex;justify-content: flex-end}
/*提示信息*/
/*.Validform_error{background-color: #ffe7e7;}*/
.Validform_checktip{color: #999;font-size: 12px; height: 20px;line-height: 20px;overflow: hidden; margin-left:10px;}
.Validform_wrong{color: red;padding-left: 20px;white-space: nowrap; background:url(../images/error.png) no-repeat 0 center;}
.Validform_right{color: #71b83d;padding-left: 20px; background:url(../images/right.png) no-repeat 0 center;}