body{margin:0;}
input,button{outline: 0}
.UserContent{width:100%;overflow: hidden; background-color:#EEEEF0;min-width:1440px;max-width:1660px;}
.UserCenter{width:1000px;height:100%;min-height:700px; background-color:#FFFFFF;z-index:1;margin:50px auto}
.Userul{margin-top:30px;margin-left:-20px;}
.Userul1{margin-top:30px; margin-left:30px;}
.Userul1 td{padding:10px 5px}
.user_nick input[type='text']{width:150px;height:20px;}
.tg-list{position:absolute;margin-top:-37px;margin-left:250px;}
.tg-list1{position:absolute;margin-top:10px;margin-left:250px;}
.user_income select{width:155px;height:25px;}
.user_name select{width:155px;height:25px;}
.user_edu select{width:155px;height:25px;}
.user_birth input[type='text']{width:150px;height:20px;}
.user_email input[type='email']{width:150px;height:20px;}
.user_city input[type='text']{width:150px;height:20px;}
.user_addre input[type='text']{width:150px;height:20px;}
.user_wx input[type='text']{width:150px;height:20px;}
.user_qq input[type='text']{width:150px;height:20px;}
.user_wb input[type='text']{width:150px;height:20px;}
.birth-select{margin-top:-35px; margin-left:80px;}
/*<!--tabÇÐ»»°´Å¥-->*/
#ProDiv{width:70%;height:700px; margin:0 auto;}
.ProChange{width:140px; padding:15px;margin-top: 20px;margin-left:18px;position:absolute}
.ProChange li{padding:5px 0;}
.ProChange a{font-size:18px;width:100px;padding:0 5px 0 6px;display:block;height:35px;line-height:60px;}
.ProChange a:hover{border-left:2px solid red;padding:0 5px 0 6px;height:35px;line-height:60px;display:inline-block;}
.div_right{ width:700px;margin-left: 200px;}
.display{display:none}
.touzi_message{width:600px;height:500px;}
.touzi-class{width:600px;height:50px;}
.Prohr hr{border:none; border-top:1px solid #eeeef0;width:80px;height:1px; margin-left:1px; margin-top:15px;}
/*<!--ÌáÐÑÉèÖÃ-->*/
.button-shangchuan{border:1px solid #4a3c70;position:relative; display:inline-block;text-decoration:none;overflow:hidden; text-indent:0; line-height:20px;padding:4px 0px; cursor:pointer}
.button-shangchuan input{position:absolute;right:0;top:0; opacity:0;cursor:pointer}
input.button_save{border:1px solid #4a3c70;background:#4a3c70;width:85px;color:#FFFFFF;height:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.gupiao-change{border:1px solid #4a3c70;background:#4a3c70;width:120px;color:#FFFFFF;height:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:10px; margin-top:20px;}
.quxiao-attention{border:1px solid #4a3c70;background:#4a3c70;width:120px;color:#FFFFFF;height:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-left:-80px; margin-top:30px;}
.ProCenter{width:750px;margin-top:40px}
.ProCenter a{text-decoration:none; color:#000000; margin:0px 20px;font-size:18px;display:block;height:15px;line-height:30px;}
.ProCenter a:hover{ border-bottom:2px solid red;padding-top:1px;display:inline-block;height:15px;line-height:30px;}
.ProCenter1{width:750px; height:100px;}
.ProCenter1 a{text-decoration:none; color:#000000; margin:0px 20px;font-size:18px;display:block;height:15px;line-height:30px;}
.ProCenter1 a:hover{ border-bottom:2px solid red;padding-top:1px;display:inline-block;height:15px;line-height:30px;}
.ProCenter2{width:750px; height: 80px;margin-top: 40px;}
.ProCenter2 a{text-decoration:none; color:#000000; margin:0px 20px;font-size:18px;display:block;height:15px;line-height:30px;}
.ProCenter2 a:hover{ border-bottom:2px solid red;padding-top:1px;display:inline-block;height:15px;line-height:30px;}
.ProCenter3{margin-left:-35px}
.ProCenter3 a{text-decoration:none; color:#000000; margin:0px 20px;}
.ProCenter3 a:hover{border-color:#e1604d;font-weight:bold; cursor:pointer}
.prosonPage1{width:750px; }
.prosonPage2{width:750px; height:350px;margin-left:-55px;margin-top:20px}
.personal-message2{margin-left:-90px;margin-top:-30px;}
.pwdpadding li{padding-bottom:10px}
.pwdpadding2 li{padding-bottom:10px}
.resetpwd-btn{border:1px solid #4a3c70;background:#4a3c70;width:120px;color:#FFFFFF;height:40px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.send-btn{border:1px solid #4a3c70;background:#4a3c70;width:120px;color:#FFFFFF;height:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.giftpadding li{padding:15px 0px}
.input_butt{border:1px solid #4a3c70; background-color:#4a3c70;width:100px; height:30px;color:#FFFFFF; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.Proli2 hr{border:none;border-right:1px solid #000000; width:1px; height:45px; margin-top:15px;}
.Proli3 hr{border:none; border-top:1px solid #000000;width:700px; height:1px; margin-left:-50px; margin-top:15px;}
.Proli4 hr{border:none; border-top:1px solid #000000;width:400px; height:1px;}
.Proli5 hr{border:none;border-right:1px solid #000000; width:1px; height:65px; margin-top:-20px;}
.Proli11 label{margin:0px 50px;}
.xieyi_button{border:1px solid #4a3c70;width:100px;height:35px; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:#4a3c70; color:#FFFFFF;}
.license-file{border:1px solid #4a3c70;position:relative;display:inline-block;font-size:14px;text-align:center;width:70px;height:20px; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:#4a3c70; color:#FFFFFF;padding:4px 0;cursor:pointer;}
.license-file input{position:absolute;right:0;top:0; opacity:0;cursor:pointer}
.procard-file{border:1px solid #4a3c70;position:relative;display:inline-block;font-size:14px;text-align:center;width:70px;height:20px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:#4a3c70; color:#FFFFFF;padding:4px 0;cursor:pointer}
.procard-file input{position:absolute;right:0;top:0; opacity:0;cursor:pointer}
.pro-upload{border:1px solid #4a3c70;position:relative;display:inline-block;font-size:14px;text-align:center;width:40px;height:20px; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:#4a3c70; color:#FFFFFF;padding:4px 0;cursor:pointer;}
.pro-upload input{position:absolute;right:0;top:0; opacity:0;cursor:pointer}
.idcard-file{border:1px solid #4a3c70;position:relative;display:inline-block;background:#4a3c70; color:#FFFFFF;width:70px;height:20px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;text-decoration:none; overflow:hidden; text-indent:0; line-height:20px;padding:4px 0;font-size:14px;cursor:pointer}
.idcard-file input{position:absolute;right:0;top:0; opacity:0;cursor:pointer}
.namecard-file{border:1px solid #4a3c70;position:relative; display:inline-block;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#4a3c70;color:#fff;width:70px;height:20px;text-decoration:none;overflow:hidden; text-indent:0; line-height:20px;padding:4px 0; text-align:center;font-size:14px;cursor:pointer}
.namecard-file input{position:absolute;right:0;top:0; opacity:0;cursor:pointer}
.upload-file{border:1px solid #4a3c70;position:relative; display:inline-block;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#4a3c70;color:#fff;width:70px;height:20px;text-decoration:none;overflow:hidden; text-indent:0; line-height:20px;padding:4px 0; text-align:center;font-size:14px; cursor:pointer}
.upload-file input{position:absolute;right:0;top:0; opacity:0;cursor:pointer}
.tzrzMessage{width:700px;margin-left:30px}
.tzrzMessage li{line-height:50px}
#geren{width:400px;margin-left:90px;}
#geren tr td{padding:6px 0}
#geren img{width: 90px;height: 81px;}
#jigou tr td{padding:6px 0}
#jigou img{width: 90px;height: 81px;}
.real_name input[type='text']{width:160px;height:25px; }
.icard input[type='text']{width:160px;height:25px;}
/*.upload_file label,.upload_file input,.upload-file object,.upload-file div{ cursor:pointer; outline:none; }*/
.upload_file label{
    width: 130px;
    height:60px;
    display:inline-block;
    transition:background-color .4s;
    background:#EEEEF0;
    opacity: 0.6;
    padding-top: 15px;
    border:1px solid #999999;
    font-family: "microsoft yahei";
    color: #333;
    font-size: 14px;
}
.refer-aggree label{font-size: 14px;font-family: "microsoft yahei";}
.upload_file img{width: 80px;height: 80px;}
.myfile{ display:none; }
#jigou{width:440px;margin-left:90px;}
.proleft_detail input[type='checkbox'] + label:before{
    background: url(/static/images/checked.png);
    content:' ';
    height: 16px;
    width: 16px;
    position: absolute;
    left:0;
}
.proleft_detail input[type='checkbox']{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    position:absolute;
    left:4px;
    top:3px;
}
.checkbox{
    padding-left: 24px;
    position: relative;
}
.proleft_detail input[type='checkbox']:checked + label:before{
    background: url(/static/images/uncheck.png);
}
.proleft_detail input[type='checkbox'][disabled]:checked + label:before{
    background: url(/static/images/uncheck.png);
}
.shows .lbl-text{padding: 0 20px;}
.write-text input[type='text']{
    width: 100px;
    outline: none;
}
.btn img {
    position: relative;
    filter: alpha(opacity=30);
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    float: right;
    padding: 0 5px;
}
.btn:hover img{
    z-index: 999;
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    float: right;
    padding: 0 5px;
}
.focus-pro li{padding:15px 10px}
.yitou-pro li{padding:15px 10px}
.img-size img{width: 220px;height: 130px;}
.left_label{position: relative;top:-11px;cursor: pointer}
.clickTag{border-left:2px solid red;padding:0 5px 0 6px;height:35px;line-height:60px;display:inline-block;}
.click-bottom-Tag{border-bottom:2px solid red;padding-top:1px;display:inline-block;height:15px;line-height:30px;}
.pro-label{position: relative;top:-11px;cursor: pointer}
.self-label{position: relative;top:-11px;cursor: pointer}
.message-label{position: relative;top:-11px;cursor: pointer}