/*头部样式*/
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img {
    vertical-align: top;
    border: none;
}
.touchweb-com_header.index {
    position: fixed;
    height: 2rem;
    width: 100%;
}
.touchweb-com_header{
    z-index: 150;
    background-color: #372c3a;
    border-bottom: .01rem solid #e5e5e5;
    margin: 0 auto;
}

.touchweb-com_header .i-logo,.lar span{
    padding: 0.2rem;
}
.touchweb-com_header .i-logo{
    float: left;
}
.touchweb-com_header .lar img{
    width: 0.8rem;
    height: 0.8rem;
}
.touchweb-com_header .lar a{
    color: #ffffff;
    font-size: 16px;
}
.touchweb-com_header .lar span{
    float: right;
    margin:0.4rem 0;
    color: #ffffff;
    font-size: 16px;
}

.touchweb-com_header .i-logo img{
    width: 3.8rem;
    height: 1.4rem;
}
[data-dpr="2"] .touchweb-com_header .lar a{
    color: #ffffff;
    font-size: 32px;
}
[data-dpr="2"] .touchweb-com_header .i-logo img{
    width: 3.8rem;
    height: 1.4rem;
}
[data-dpr="3"] .touchweb-com_header .lar a{
    color: #ffffff;
    font-size: 42px;
}

[data-dpr="3"] .touchweb-com_header .i-logo img{
    width: 3.8rem;
    height: 1.4rem;
}

/*底部样式*/
.touchweb_page-footer{
    position: relative;
    background-color: #372c3a;
    border-bottom: .01rem solid #e5e5e5;
    -webkit-box-orient: vertical;
    width: 100%;
}
.touchweb_page-footer a{

    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 32%;
}
.touchweb_page-footer .for{
    color: #ffffff;
    font-size: 12px;
    padding: 0.2rem;
}
.touchweb_page-footer .for img{
    width: 1.2rem;
    height: 1rem;
}
[data-dpr="2"] .touchweb_page-footer .for{
    color: #ffffff;
    font-size: 26px;
}
[data-dpr="3"] .touchweb_page-footer .for{
    color: #ffffff;
    font-size: 42px;
}