body{font-family:Helvetica;text-align: center}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a{color: #000}
.content{
    width: 100%;
    margin: 0 auto;
}
.content .sign_succ{
    font-size: 22px;
    color: #FF0033;
}
.content p{padding: 0.2rem}
.content .inv_left canvas{width: 4rem;padding: 0.2rem;}
[data-dpr="2"] .content .sign_succ{
    font-size: 42px;
}
[data-dpr="3"] .content .sign_succ{
    font-size: 56px;
}

