body{margin: 0}
.success_back{background-color: rgb(245,45,55);position: absolute;width: 100%;height: 100%;top: 0;left: 0;}

a{text-decoration: none}
.success_back .content .inv_bottom a{
    color: #000;
}
.content{
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    font-family:Helvetica;
    text-align: center;
/*    min-height: 715px;*/
    overflow: hidden;
}

/*@media screen and (max-width: 1280px) {
    .content{
        min-height: 824px;
    }
}*/
/*.content:after{
    content: '';
    width: 100%;
    display: block;
    padding-top: 50%;
}*/
.content .sign_succ{
    font-size: 32px;
    color: #FF0033;
    font-weight: bold;
}
.content p{padding: 10px}
.content canvas{padding: 10px}
.success_back .content .inv_top{
    margin-top: 60px;
}
.success_back .content .inv_bottom{
    margin-top: 60px;
}